In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Load the csv file and print the 5 first rows
pd.set_option('max_columns', None)
data = pd.read_csv('Notebook_step3_output.csv')
data.head()

,Unnamed: 0,Name,state,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,double,surface,total_chairs,Runs,TerrainParks,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac,clusters
0,0,Hilltop Ski Area,Alaska,2090.0,294.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,3.0,13.0,1.0,1.0,30.0,30.000000,150.000000,36.0,69.0,30.0,34.00000,152.0,30.0,2
1,1,Sunrise Park Resort,Arizona,11100.0,1800.0,0.0,0.0,0.0,1.0,2.0,3.0,1.0,0.0,7.0,65.0,2.0,1.2,800.0,80.000000,115.000000,49.0,250.0,74.0,78.00000,104.0,80.0,1
2,2,Yosemite Ski & Snowboard Area,California,7800.0,600.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,5.0,10.0,2.0,0.4,88.0,174.873239,110.000000,84.0,300.0,47.0,47.00000,107.0,0.0,1
3,3,Boreal Mountain Resort,California,7700.0,500.0,0.0,0.0,0.0,1.0,1.0,3.0,1.0,2.0,8.0,33.0,6.0,1.0,380.0,200.000000,150.000000,54.0,400.0,49.0,64.16681,150.0,200.0,1
4,4,Dodge Ridge,California,8200.0,1600.0,0.0,0.0,0.0,0.0,1.0,2.0,5.0,4.0,12.0,67.0,5.0,2.0,862.0,174.873239,115.103943,69.0,350.0,78.0,78.00000,140.0,0.0,1

In [3]:
columns = list(data.columns)

In [4]:
data= data.drop(columns = columns[0])
data.head()

,Name,state,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,double,surface,total_chairs,Runs,TerrainParks,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac,clusters
0,Hilltop Ski Area,Alaska,2090.0,294.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,3.0,13.0,1.0,1.0,30.0,30.000000,150.000000,36.0,69.0,30.0,34.00000,152.0,30.0,2
1,Sunrise Park Resort,Arizona,11100.0,1800.0,0.0,0.0,0.0,1.0,2.0,3.0,1.0,0.0,7.0,65.0,2.0,1.2,800.0,80.000000,115.000000,49.0,250.0,74.0,78.00000,104.0,80.0,1
2,Yosemite Ski & Snowboard Area,California,7800.0,600.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,5.0,10.0,2.0,0.4,88.0,174.873239,110.000000,84.0,300.0,47.0,47.00000,107.0,0.0,1
3,Boreal Mountain Resort,California,7700.0,500.0,0.0,0.0,0.0,1.0,1.0,3.0,1.0,2.0,8.0,33.0,6.0,1.0,380.0,200.000000,150.000000,54.0,400.0,49.0,64.16681,150.0,200.0,1
4,Dodge Ridge,California,8200.0,1600.0,0.0,0.0,0.0,0.0,1.0,2.0,5.0,4.0,12.0,67.0,5.0,2.0,862.0,174.873239,115.103943,69.0,350.0,78.0,78.00000,140.0,0.0,1

In [5]:
data.shape

(176, 26)

In [6]:
columns = list(data.columns)
numeric_columns = columns[2:]

Create dummy features for categorical variables

In [7]:
data.state.value_counts()

New York          20
Michigan          15
California        12
Wisconsin         11
Pennsylvania      11
New Hampshire     11
Vermont            8
Minnesota          8
Idaho              6
New Mexico         6
Wyoming            5
Maine              5
Colorado           5
Connecticut        5
Montana            4
Massachusetts      4
Washington         4
Ohio               4
Oregon             3
West Virginia      3
Iowa               3
Utah               3
North Carolina     3
Illinois           3
Missouri           2
Indiana            2
Virginia           2
New Jersey         1
Tennessee          1
South Dakota       1
Rhode Island       1
Nevada             1
Alaska             1
Maryland           1
Arizona            1
Name: state, dtype: int64

In [8]:
#Create dummy variables for state. Add the dummies back to the dataframe and remove the original column for state.
state_dummies = pd.get_dummies(data.state, prefix = 'state')
state_dummies

,state_Alaska,state_Arizona,state_California,state_Colorado,state_Connecticut,state_Idaho,state_Illinois,state_Indiana,state_Iowa,state_Maine,state_Maryland,state_Massachusetts,state_Michigan,state_Minnesota,state_Missouri,state_Montana,state_Nevada,state_New Hampshire,state_New Jersey,state_New Mexico,state_New York,state_North Carolina,state_Ohio,state_Oregon,state_Pennsylvania,state_Rhode Island,state_South Dakota,state_Tennessee,state_Utah,state_Vermont,state_Virginia,state_Washington,state_West Virginia,state_Wisconsin,state_Wyoming
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
172,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
173,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
174,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
175,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [9]:
data_no_state = data.drop(columns = 'state')
data.head()

,Name,state,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,double,surface,total_chairs,Runs,TerrainParks,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac,clusters
0,Hilltop Ski Area,Alaska,2090.0,294.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,3.0,13.0,1.0,1.0,30.0,30.000000,150.000000,36.0,69.0,30.0,34.00000,152.0,30.0,2
1,Sunrise Park Resort,Arizona,11100.0,1800.0,0.0,0.0,0.0,1.0,2.0,3.0,1.0,0.0,7.0,65.0,2.0,1.2,800.0,80.000000,115.000000,49.0,250.0,74.0,78.00000,104.0,80.0,1
2,Yosemite Ski & Snowboard Area,California,7800.0,600.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,5.0,10.0,2.0,0.4,88.0,174.873239,110.000000,84.0,300.0,47.0,47.00000,107.0,0.0,1
3,Boreal Mountain Resort,California,7700.0,500.0,0.0,0.0,0.0,1.0,1.0,3.0,1.0,2.0,8.0,33.0,6.0,1.0,380.0,200.000000,150.000000,54.0,400.0,49.0,64.16681,150.0,200.0,1
4,Dodge Ridge,California,8200.0,1600.0,0.0,0.0,0.0,0.0,1.0,2.0,5.0,4.0,12.0,67.0,5.0,2.0,862.0,174.873239,115.103943,69.0,350.0,78.0,78.00000,140.0,0.0,1

In [10]:
pd.set_option('max_columns', None)
df = pd.concat([state_dummies, data_no_state], axis = 1)
df.head()

,state_Alaska,state_Arizona,state_California,state_Colorado,state_Connecticut,state_Idaho,state_Illinois,state_Indiana,state_Iowa,state_Maine,state_Maryland,state_Massachusetts,state_Michigan,state_Minnesota,state_Missouri,state_Montana,state_Nevada,state_New Hampshire,state_New Jersey,state_New Mexico,state_New York,state_North Carolina,state_Ohio,state_Oregon,state_Pennsylvania,state_Rhode Island,state_South Dakota,state_Tennessee,state_Utah,state_Vermont,state_Virginia,state_Washington,state_West Virginia,state_Wisconsin,state_Wyoming,Name,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,double,surface,total_chairs,Runs,TerrainParks,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac,clusters
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Hilltop Ski Area,2090.0,294.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,3.0,13.0,1.0,1.0,30.0,30.000000,150.000000,36.0,69.0,30.0,34.00000,152.0,30.0,2
1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Sunrise Park Resort,11100.0,1800.0,0.0,0.0,0.0,1.0,2.0,3.0,1.0,0.0,7.0,65.0,2.0,1.2,800.0,80.000000,115.000000,49.0,250.0,74.0,78.00000,104.0,80.0,1
2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Yosemite Ski & Snowboard Area,7800.0,600.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,5.0,10.0,2.0,0.4,88.0,174.873239,110.000000,84.0,300.0,47.0,47.00000,107.0,0.0,1
3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Boreal Mountain Resort,7700.0,500.0,0.0,0.0,0.0,1.0,1.0,3.0,1.0,2.0,8.0,33.0,6.0,1.0,380.0,200.000000,150.000000,54.0,400.0,49.0,64.16681,150.0,200.0,1
4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Dodge Ridge,8200.0,1600.0,0.0,0.0,0.0,0.0,1.0,2.0,5.0,4.0,12.0,67.0,5.0,2.0,862.0,174.873239,115.103943,69.0,350.0,78.0,78.00000,140.0,0.0,1

Standardize the magnitude of numeric features

In [11]:
# Import the preprocessing package from the sklearn library
from sklearn import preprocessing
# Declare an explanatory variable, called X,and assign it the result of dropping 'Name' and 'AdultWeekend' from the df
x = df.drop(['Name','AdultWeekend'], axis=1)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y = df.AdultWeekend

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = preprocessing.StandardScaler().fit(x)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled=scaler.transform(x)

Split into training and testing datasets

In [12]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split
# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=1)

Step 5. Modeling

In [13]:
#Import linear_model from sklearn
#Import explained_variance_score,mean_absolute_error from sklearn.metrics
from sklearn import linear_model

lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [14]:
model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
#Predict on the testing dataset and score the model performance with the y_test set and the y-pred values. 
#The explained variance is a measure of the variation explained by the model. 
#This is also known as the R-squared value.
#Use predict() function 
#Make a variable called y_pred and assign it the result of calling predict() 
#Variable parameter X_test
y_pred = lm.predict(X_test)

Review Model Outcomes — Iterate over additional models as needed

In [18]:
# You might want to use the explained_variance_score() and mean_absolute_error() metrics.
# To do so, you will need to import them from sklearn.metrics
from sklearn.metrics import explained_variance_score,mean_absolute_error
# You can plug y_test and y_pred into the functions to evaluate the model
variance_score = explained_variance_score(y_test, y_pred)
mean_absolute_error = mean_absolute_error(y_test, y_pred)

In [19]:
print('Variance Score is', variance_score)
print('Mean absolute error is', mean_absolute_error)

Variance Score is 0.5660668002543601
Mean absolute error is 6.750522573140697

In [20]:
#Print the intercept value from the linear model.
#The intercept is the mean AdultWeekend price for all the resorts given the other characteristics.  
print('The intercept is', lm.intercept_)

The intercept is 56.19297526894623

In [21]:
#Pandas DataFrame displaying the coefficients for each state 
#As we can see, the highest coefficient is on the state they are.
#There is not much a manager can do regarding the state 
df_coeff = pd.DataFrame(abs(lm.coef_), x.columns, columns=['Coefficient'])
df_coeff.sort_values

<bound method DataFrame.sort_values of                        Coefficient
state_Alaska          3.078275e-02
state_Arizona         5.713290e-01
state_California      6.244077e-01
state_Colorado        2.744388e-01
state_Connecticut     5.916284e-01
state_Idaho           1.771960e+00
state_Illinois        1.282320e-01
state_Indiana         6.510094e-01
state_Iowa            4.123981e-01
state_Maine           4.990565e-01
state_Maryland        3.681971e-01
state_Massachusetts   1.559914e+00
state_Michigan        2.566019e-01
state_Minnesota       2.476435e-01
state_Missouri        1.245758e-01
state_Montana         1.315100e+00
state_Nevada          2.512387e-01
state_New Hampshire   1.523334e+00
state_New Jersey      6.661338e-16
state_New Mexico      9.588533e-01
state_New York        7.759493e-01
state_North Carolina  1.586261e+00
state_Ohio            7.935950e-01
state_Oregon          8.822852e-01
state_Pennsylvania    7.530272e-01
state_Rhode Island    9.408218e-01
state_South Dakota    6.890958e-01
state_Tennessee       1.499916e+00
state_Utah            9.138584e-01
state_Vermont         3.920611e-01
state_Virginia        1.740581e+00
state_Washington      1.050295e+00
state_West Virginia   1.494257e+00
state_Wisconsin       3.441474e-01
state_Wyoming         1.223942e+00
summit_elev           4.215552e-01
vertical_drop         3.079768e+00
trams                 8.881784e-16
fastEight             6.661338e-16
fastSixes             1.110223e-15
fastQuads             2.048598e-01
quad                  1.737928e+00
triple                1.412989e+00
double                9.486189e-01
surface               1.010390e+00
total_chairs          1.111031e+00
Runs                  4.470534e-01
TerrainParks          1.799016e+00
LongestRun_mi         1.093527e+00
SkiableTerrain_ac     1.674753e+00
Snow Making_ac        6.688017e-01
daysOpenLastYear      1.141982e+00
yearsOpen             3.859287e-01
averageSnowfall       1.899839e+00
AdultWeekday          9.335718e+00
projectedDaysOpen     2.112382e+00
NightSkiing_ac        9.229844e-01
clusters              1.562122e+00>

In [40]:
#Model 2
# Import the preprocessing package from the sklearn library
from sklearn import preprocessing
# Declare an explanatory variable, called X,and assign it the result of dropping state from the df
x = data.drop(['state', 'Name', 'AdultWeekday'], axis=1)

# Declare a response variable, called y, and assign it the AdultWeekday column of the df 
y = data.AdultWeekday

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = preprocessing.StandardScaler().fit(x)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled=scaler.transform(x)

In [41]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split
# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()

# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=1)

In [56]:
#Model 2 
#Import linear_model from sklearn
#Import explained_variance_score,mean_absolute_error from sklearn.metrics
from sklearn import linear_model

lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [57]:
#Predict on the testing dataset and score the model performance with the y_test set and the y-pred values. 
#The explained variance is a measure of the variation explained by the model. 
#This is also known as the R-squared value.
#Use predict() function 
#Make a variable called y_pred and assign it the result of calling predict() 
#Variable parameter X_test
y_pred = lm.predict(X_test)

In [59]:
# You might want to use the explained_variance_score() and mean_absolute_error() metrics.
# To do so, you will need to import them from sklearn.metrics
from sklearn.metrics import explained_variance_score,mean_absolute_error
# You can plug y_test and y_pred into the functions to evaluate the model
variance_score_2 = explained_variance_score(y_test, y_pred)
mean_absolute_error_2 = mean_absolute_error(y_test, y_pred)

In [60]:
print('Variance Score is', variance_score_2)
print('Mean absolute error is', mean_absolute_error_2)

Variance Score is 0.654490986511221
Mean absolute error is 6.474923601305508

In [62]:
#Print the intercept value from the linear model.
#The intercept is the mean AdultWeekday price for all the resorts given the other characteristics.  
print('The intercept is', lm.intercept_)

The intercept is 50.652108461803074

In [63]:
#Pandas DataFrame displaying the coefficients for each column
#As we can see, the highest coefficient is on the summit_elev and vertical_drop.
#Once again, there is not much a manager can do regarding the summit_elev and vertical_drop 
df_coeff = pd.DataFrame(abs(lm.coef_), x.columns, columns=['Coefficient'])
df_coeff.sort_values

<bound method DataFrame.sort_values of                     Coefficient
summit_elev        2.576009e+00
vertical_drop      1.715810e-01
trams              2.664535e-15
fastEight          4.440892e-16
fastSixes          8.881784e-16
fastQuads          6.906116e-01
quad               1.116939e+00
triple             4.694339e-01
double             2.904189e-01
surface            7.810426e-01
total_chairs       3.235939e-01
Runs               2.238510e+00
TerrainParks       3.099395e+00
LongestRun_mi      1.457940e+00
SkiableTerrain_ac  4.063475e-01
Snow Making_ac     1.494822e+00
daysOpenLastYear   2.213668e+00
yearsOpen          5.819726e-01
averageSnowfall    6.020472e-01
AdultWeekend       1.258036e+01
projectedDaysOpen  2.728230e+00
NightSkiing_ac     1.451171e-01
clusters           1.884603e+00>

In [66]:
#Model 3
#Drop summit_elev and vertical_drop 
# Import the preprocessing package from the sklearn library
from sklearn import preprocessing
# Declare an explanatory variable, called X,and assign it the result of dropping 'summit_elev' and 'vertical_drop' from the df
x = data.drop(['Name','state', 'summit_elev','vertical_drop', 'AdultWeekday'], axis=1)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y = df.AdultWeekday

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = preprocessing.StandardScaler().fit(x)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled=scaler.transform(x)

In [67]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split
# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=1)

In [68]:
#Import linear_model from sklearn
#Import explained_variance_score,mean_absolute_error from sklearn.metrics
from sklearn import linear_model

lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [69]:
#Predict on the testing dataset and score the model performance with the y_test set and the y-pred values. 
#The explained variance is a measure of the variation explained by the model. 
#This is also known as the R-squared value.
#Use predict() function 
#Make a variable called y_pred and assign it the result of calling predict() 
#Variable parameter X_test
y_pred = lm.predict(X_test)

In [70]:
# You might want to use the explained_variance_score() and mean_absolute_error() metrics.
# To do so, you will need to import them from sklearn.metrics
from sklearn.metrics import explained_variance_score,mean_absolute_error
# You can plug y_test and y_pred into the functions to evaluate the model
variance_score_3 = explained_variance_score(y_test, y_pred)
mean_absolute_error_3 = mean_absolute_error(y_test, y_pred)

In [71]:
print('Variance Score is', variance_score_3)
print('Mean absolute error is', mean_absolute_error_3)

Variance Score is 0.6429447967597262
Mean absolute error is 6.830583772414224

In [72]:
#Print the intercept value from the linear model.
#The intercept is the mean AdultWeekday price for all the resorts given the other characteristics.  
print('The intercept is', lm.intercept_)

The intercept is 50.76314666358115

In [73]:
#Pandas DataFrame displaying the coefficients for each columns
#As we can see, the highest coefficient is on the trams, fastEight and all the variables regarding to chairs
#Managers should focus on those variables according to our model to positively affect the AdultWeekday price
df_coeff = pd.DataFrame(abs(lm.coef_), x.columns, columns=['Coefficient'])
df_coeff.sort_values

<bound method DataFrame.sort_values of                     Coefficient
trams              0.000000e+00
fastEight          1.332268e-15
fastSixes          6.661338e-16
fastQuads          5.960285e-01
quad               9.971320e-01
triple             6.758299e-01
double             3.513788e-01
surface            4.936608e-01
total_chairs       2.421043e-01
Runs               2.563369e+00
TerrainParks       3.077726e+00
LongestRun_mi      1.658323e+00
SkiableTerrain_ac  1.333621e+00
Snow Making_ac     1.818101e+00
daysOpenLastYear   1.870047e+00
yearsOpen          5.478698e-01
averageSnowfall    1.224594e+00
AdultWeekend       1.216724e+01
projectedDaysOpen  2.505974e+00
NightSkiing_ac     2.714401e-01
clusters           1.223782e+00>

Identify the Final Mode

In [ ]:
#According to the results, I would choose the model #3
#There is not much a manager can do with state, summit_elev and vertical_drop. Model #1 or model #2 not good enough
#Model 3 would consider trams and all the variables regarding the chairs. 
#That's also supported by model 1 or 2 by ignoring the variables state, summit_elev and vertical_drop