In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Load the csv file and print the 5 first rows
pd.set_option('max_columns', None)
data = pd.read_csv('Notebook_step3_output_final.csv')
data.head()

,Unnamed: 0,Name,state,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,double,surface,total_chairs,Runs,TerrainParks,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac,clusters
0,0,Hilltop Ski Area,Alaska,2090.0,294.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,3.0,13.0,1.0,1.0,30.0,30.000000,150.000000,36.0,69.0,30.0,34.00000,152.0,30.0,1
1,1,Sunrise Park Resort,Arizona,11100.0,1800.0,0.0,0.0,0.0,1.0,2.0,3.0,1.0,0.0,7.0,65.0,2.0,1.2,800.0,80.000000,115.000000,49.0,250.0,74.0,78.00000,104.0,80.0,2
2,2,Yosemite Ski & Snowboard Area,California,7800.0,600.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,5.0,10.0,2.0,0.4,88.0,174.873239,110.000000,84.0,300.0,47.0,47.00000,107.0,0.0,2
3,3,Boreal Mountain Resort,California,7700.0,500.0,0.0,0.0,0.0,1.0,1.0,3.0,1.0,2.0,8.0,33.0,6.0,1.0,380.0,200.000000,150.000000,54.0,400.0,49.0,64.16681,150.0,200.0,2
4,4,Dodge Ridge,California,8200.0,1600.0,0.0,0.0,0.0,0.0,1.0,2.0,5.0,4.0,12.0,67.0,5.0,2.0,862.0,174.873239,115.103943,69.0,350.0,78.0,78.00000,140.0,0.0,2

In [3]:
columns = list(data.columns)

In [4]:
data= data.drop(columns = columns[0])
data.head()

,Name,state,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,double,surface,total_chairs,Runs,TerrainParks,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac,clusters
0,Hilltop Ski Area,Alaska,2090.0,294.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,3.0,13.0,1.0,1.0,30.0,30.000000,150.000000,36.0,69.0,30.0,34.00000,152.0,30.0,1
1,Sunrise Park Resort,Arizona,11100.0,1800.0,0.0,0.0,0.0,1.0,2.0,3.0,1.0,0.0,7.0,65.0,2.0,1.2,800.0,80.000000,115.000000,49.0,250.0,74.0,78.00000,104.0,80.0,2
2,Yosemite Ski & Snowboard Area,California,7800.0,600.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,5.0,10.0,2.0,0.4,88.0,174.873239,110.000000,84.0,300.0,47.0,47.00000,107.0,0.0,2
3,Boreal Mountain Resort,California,7700.0,500.0,0.0,0.0,0.0,1.0,1.0,3.0,1.0,2.0,8.0,33.0,6.0,1.0,380.0,200.000000,150.000000,54.0,400.0,49.0,64.16681,150.0,200.0,2
4,Dodge Ridge,California,8200.0,1600.0,0.0,0.0,0.0,0.0,1.0,2.0,5.0,4.0,12.0,67.0,5.0,2.0,862.0,174.873239,115.103943,69.0,350.0,78.0,78.00000,140.0,0.0,2

In [5]:
data.shape

(176, 26)

In [6]:
columns = list(data.columns)
numeric_columns = columns[2:]

Create dummy features for categorical variables

In [7]:
data.state.value_counts()

New York          20
Michigan          15
California        12
New Hampshire     11
Wisconsin         11
Pennsylvania      11
Vermont            8
Minnesota          8
Idaho              6
New Mexico         6
Colorado           5
Connecticut        5
Wyoming            5
Maine              5
Ohio               4
Montana            4
Massachusetts      4
Washington         4
West Virginia      3
North Carolina     3
Oregon             3
Utah               3
Illinois           3
Iowa               3
Virginia           2
Missouri           2
Indiana            2
Nevada             1
Alaska             1
Maryland           1
New Jersey         1
Arizona            1
Rhode Island       1
Tennessee          1
South Dakota       1
Name: state, dtype: int64

In [8]:
#Create dummy variables for state. Add the dummies back to the dataframe and remove the original column for state.
state_dummies = pd.get_dummies(data.state, prefix = 'state')
state_dummies

,state_Alaska,state_Arizona,state_California,state_Colorado,state_Connecticut,state_Idaho,state_Illinois,state_Indiana,state_Iowa,state_Maine,state_Maryland,state_Massachusetts,state_Michigan,state_Minnesota,state_Missouri,state_Montana,state_Nevada,state_New Hampshire,state_New Jersey,state_New Mexico,state_New York,state_North Carolina,state_Ohio,state_Oregon,state_Pennsylvania,state_Rhode Island,state_South Dakota,state_Tennessee,state_Utah,state_Vermont,state_Virginia,state_Washington,state_West Virginia,state_Wisconsin,state_Wyoming
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
172,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
173,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
174,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
175,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [9]:
data_no_state = data.drop(columns = 'state')
data.head()

,Name,state,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,double,surface,total_chairs,Runs,TerrainParks,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac,clusters
0,Hilltop Ski Area,Alaska,2090.0,294.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,3.0,13.0,1.0,1.0,30.0,30.000000,150.000000,36.0,69.0,30.0,34.00000,152.0,30.0,1
1,Sunrise Park Resort,Arizona,11100.0,1800.0,0.0,0.0,0.0,1.0,2.0,3.0,1.0,0.0,7.0,65.0,2.0,1.2,800.0,80.000000,115.000000,49.0,250.0,74.0,78.00000,104.0,80.0,2
2,Yosemite Ski & Snowboard Area,California,7800.0,600.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,5.0,10.0,2.0,0.4,88.0,174.873239,110.000000,84.0,300.0,47.0,47.00000,107.0,0.0,2
3,Boreal Mountain Resort,California,7700.0,500.0,0.0,0.0,0.0,1.0,1.0,3.0,1.0,2.0,8.0,33.0,6.0,1.0,380.0,200.000000,150.000000,54.0,400.0,49.0,64.16681,150.0,200.0,2
4,Dodge Ridge,California,8200.0,1600.0,0.0,0.0,0.0,0.0,1.0,2.0,5.0,4.0,12.0,67.0,5.0,2.0,862.0,174.873239,115.103943,69.0,350.0,78.0,78.00000,140.0,0.0,2

In [10]:
pd.set_option('max_columns', None)
df = pd.concat([state_dummies, data_no_state], axis = 1)
df.head()

,state_Alaska,state_Arizona,state_California,state_Colorado,state_Connecticut,state_Idaho,state_Illinois,state_Indiana,state_Iowa,state_Maine,state_Maryland,state_Massachusetts,state_Michigan,state_Minnesota,state_Missouri,state_Montana,state_Nevada,state_New Hampshire,state_New Jersey,state_New Mexico,state_New York,state_North Carolina,state_Ohio,state_Oregon,state_Pennsylvania,state_Rhode Island,state_South Dakota,state_Tennessee,state_Utah,state_Vermont,state_Virginia,state_Washington,state_West Virginia,state_Wisconsin,state_Wyoming,Name,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,double,surface,total_chairs,Runs,TerrainParks,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac,clusters
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Hilltop Ski Area,2090.0,294.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,3.0,13.0,1.0,1.0,30.0,30.000000,150.000000,36.0,69.0,30.0,34.00000,152.0,30.0,1
1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Sunrise Park Resort,11100.0,1800.0,0.0,0.0,0.0,1.0,2.0,3.0,1.0,0.0,7.0,65.0,2.0,1.2,800.0,80.000000,115.000000,49.0,250.0,74.0,78.00000,104.0,80.0,2
2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Yosemite Ski & Snowboard Area,7800.0,600.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,5.0,10.0,2.0,0.4,88.0,174.873239,110.000000,84.0,300.0,47.0,47.00000,107.0,0.0,2
3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Boreal Mountain Resort,7700.0,500.0,0.0,0.0,0.0,1.0,1.0,3.0,1.0,2.0,8.0,33.0,6.0,1.0,380.0,200.000000,150.000000,54.0,400.0,49.0,64.16681,150.0,200.0,2
4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Dodge Ridge,8200.0,1600.0,0.0,0.0,0.0,0.0,1.0,2.0,5.0,4.0,12.0,67.0,5.0,2.0,862.0,174.873239,115.103943,69.0,350.0,78.0,78.00000,140.0,0.0,2

Standardize the magnitude of numeric features

In [11]:
# Import the preprocessing package from the sklearn library
from sklearn import preprocessing
# Declare an explanatory variable, called X,and assign it the result of dropping 'Name' and 'AdultWeekend' from the df
x = df.drop(['Name','AdultWeekend'], axis=1)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y = df.AdultWeekend

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = preprocessing.StandardScaler().fit(x)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled=scaler.transform(x)

Split into training and testing datasets

In [12]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split
# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=1)

Step 5. Modeling

In [13]:
#Import linear_model from sklearn
#Import explained_variance_score,mean_absolute_error from sklearn.metrics
from sklearn import linear_model

lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [14]:
model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
#Predict on the testing dataset and score the model performance with the y_test set and the y-pred values. 
#The explained variance is a measure of the variation explained by the model. 
#This is also known as the R-squared value.
#Use predict() function 
#Make a variable called y_pred and assign it the result of calling predict() 
#Variable parameter X_test
y_pred = lm.predict(X_test)

Review Model Outcomes â€” Iterate over additional models as needed

In [16]:
# You might want to use the explained_variance_score() and mean_absolute_error() metrics.
# To do so, you will need to import them from sklearn.metrics
from sklearn.metrics import explained_variance_score,mean_absolute_error
# You can plug y_test and y_pred into the functions to evaluate the model
variance_score = explained_variance_score(y_test, y_pred)
mean_absolute_error = mean_absolute_error(y_test, y_pred)

In [17]:
print('Variance Score is', variance_score)
print('Mean absolute error is', mean_absolute_error)

Variance Score is 0.5672839957056781
Mean absolute error is 6.687862083931592

In [18]:
#Print the intercept value from the linear model.
#The intercept is the mean AdultWeekend price for all the resorts given the other characteristics.  
print('The intercept is', lm.intercept_)

The intercept is 56.234898634560885

In [19]:
#Pandas DataFrame displaying the coefficients for each state 
#As we can see, the highest coefficient is on the state they are.
#There is not much a manager can do regarding the state 
df_coeff = pd.DataFrame(abs(lm.coef_), x.columns, columns=['Coefficient'])
df_coeff.sort_values

<bound method DataFrame.sort_values of                        Coefficient
state_Alaska          1.275455e-01
state_Arizona         5.344111e-01
state_California      2.527267e-02
state_Colorado        4.515317e-01
state_Connecticut     5.013816e-01
state_Idaho           1.464533e+00
state_Illinois        2.168695e-01
state_Indiana         7.313758e-01
state_Iowa            5.264455e-01
state_Maine           5.901632e-01
state_Maryland        3.329307e-01
state_Massachusetts   1.439568e+00
state_Michigan        4.284752e-01
state_Minnesota       4.325549e-01
state_Missouri        4.155434e-03
state_Montana         9.487015e-01
state_Nevada          2.772494e-01
state_New Hampshire   1.360059e+00
state_New Jersey      2.331468e-15
state_New Mexico      7.983738e-01
state_New York        5.228482e-01
state_North Carolina  1.415722e+00
state_Ohio            9.138605e-01
state_Oregon          5.634129e-01
state_Pennsylvania    5.547699e-01
state_Rhode Island    8.856184e-01
state_South Dakota    5.419190e-01
state_Tennessee       1.479480e+00
state_Utah            5.873081e-01
state_Vermont         4.398707e-01
state_Virginia        1.659315e+00
state_Washington      8.398071e-01
state_West Virginia   1.352452e+00
state_Wisconsin       1.092046e-01
state_Wyoming         9.256466e-01
summit_elev           9.485627e-01
vertical_drop         2.785590e+00
trams                 4.440892e-16
fastEight             6.661338e-16
fastSixes             4.440892e-16
fastQuads             2.184899e-01
quad                  1.722305e+00
triple                1.369373e+00
double                9.070837e-01
surface               9.989829e-01
total_chairs          1.073583e+00
Runs                  6.200183e-01
TerrainParks          1.836871e+00
LongestRun_mi         1.137856e+00
SkiableTerrain_ac     1.653634e+00
Snow Making_ac        8.351305e-01
daysOpenLastYear      1.242146e+00
yearsOpen             4.312559e-01
averageSnowfall       1.732304e+00
AdultWeekday          9.456734e+00
projectedDaysOpen     2.227727e+00
NightSkiing_ac        9.642348e-01
clusters              2.007873e+00>

In [20]:
#Model 2
# Import the preprocessing package from the sklearn library
from sklearn import preprocessing
# Declare an explanatory variable, called X,and assign it the result of dropping state from the df
x = data.drop(['state', 'Name', 'AdultWeekday', 'AdultWeekend'], axis=1)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y = data.AdultWeekend

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = preprocessing.StandardScaler().fit(x)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled=scaler.transform(x)

In [21]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split
# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()

# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=1)

In [22]:
#Model 2 
#Import linear_model from sklearn
#Import explained_variance_score,mean_absolute_error from sklearn.metrics
from sklearn import linear_model

lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [23]:
#Predict on the testing dataset and score the model performance with the y_test set and the y-pred values. 
#The explained variance is a measure of the variation explained by the model. 
#This is also known as the R-squared value.
#Use predict() function 
#Make a variable called y_pred and assign it the result of calling predict() 
#Variable parameter X_test
y_pred = lm.predict(X_test)

In [24]:
# You might want to use the explained_variance_score() and mean_absolute_error() metrics.
# To do so, you will need to import them from sklearn.metrics
from sklearn.metrics import explained_variance_score,mean_absolute_error
# You can plug y_test and y_pred into the functions to evaluate the model
variance_score_2 = explained_variance_score(y_test, y_pred)
mean_absolute_error_2 = mean_absolute_error(y_test, y_pred)

In [25]:
print('Variance Score is', variance_score_2)
print('Mean absolute error is', mean_absolute_error_2)

Variance Score is 0.1265992813252227
Mean absolute error is 10.565034210632593

In [26]:
#Print the intercept value from the linear model.
#The intercept is the mean AdultWeekday price for all the resorts given the other characteristics.  
print('The intercept is', lm.intercept_)

The intercept is 56.53150635291313

In [27]:
#Pandas DataFrame displaying the coefficients for each column
#As we can see, the highest coefficient is on the summit_elev and vertical_drop.
#Once again, there is not much a manager can do regarding the summit_elev and vertical_drop 
df_coeff = pd.DataFrame(abs(lm.coef_), x.columns, columns=['Coefficient'])
df_coeff.sort_values

<bound method DataFrame.sort_values of                     Coefficient
summit_elev        3.171129e+00
vertical_drop      5.360126e+00
trams              8.881784e-16
fastEight          4.440892e-16
fastSixes          0.000000e+00
fastQuads          2.257415e+00
quad               2.642665e+00
triple             1.660675e+00
double             5.752514e-01
surface            1.405515e+00
total_chairs       1.478577e+00
Runs               2.790173e+00
TerrainParks       1.256561e+00
LongestRun_mi      4.995192e-01
SkiableTerrain_ac  2.584661e+00
Snow Making_ac     6.298083e-01
daysOpenLastYear   9.202173e-01
yearsOpen          1.486939e+00
averageSnowfall    7.781431e-02
projectedDaysOpen  3.431153e-01
NightSkiing_ac     2.551310e-01
clusters           5.376081e+00>

In [28]:
#Model 3
#Drop summit_elev and vertical_drop 
# Import the preprocessing package from the sklearn library
from sklearn import preprocessing
# Declare an explanatory variable, called X,and assign it the result of dropping 'summit_elev' and 'vertical_drop' from the df
x = data.drop(['Name','state', 'summit_elev','vertical_drop', 'AdultWeekday', 'AdultWeekend'], axis=1)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y = df.AdultWeekend

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = preprocessing.StandardScaler().fit(x)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled=scaler.transform(x)

In [29]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split
# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=1)

In [30]:
#Import linear_model from sklearn
#Import explained_variance_score,mean_absolute_error from sklearn.metrics
from sklearn import linear_model

lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [31]:
#Predict on the testing dataset and score the model performance with the y_test set and the y-pred values. 
#The explained variance is a measure of the variation explained by the model. 
#This is also known as the R-squared value.
#Use predict() function 
#Make a variable called y_pred and assign it the result of calling predict() 
#Variable parameter X_test
y_pred = lm.predict(X_test)

In [32]:
# You might want to use the explained_variance_score() and mean_absolute_error() metrics.
# To do so, you will need to import them from sklearn.metrics
from sklearn.metrics import explained_variance_score,mean_absolute_error
# You can plug y_test and y_pred into the functions to evaluate the model
variance_score_3 = explained_variance_score(y_test, y_pred)
mean_absolute_error_3 = mean_absolute_error(y_test, y_pred)

In [33]:
print('Variance Score is', variance_score_3)
print('Mean absolute error is', mean_absolute_error_3)

Variance Score is 0.1259754883322719
Mean absolute error is 10.39779228570428

In [34]:
#Print the intercept value from the linear model.
#The intercept is the mean AdultWeekday price for all the resorts given the other characteristics.  
print('The intercept is', lm.intercept_)

The intercept is 56.84708158683219

In [35]:
#Pandas DataFrame displaying the coefficients for each columns
#As we can see, the highest coefficient is on the trams, fastEight and all the variables regarding to chairs
#Managers should focus on those variables according to our model to positively affect the AdultWeekday price
df_coeff = pd.DataFrame(abs(lm.coef_), x.columns, columns=['Coefficient'])
df_coeff.sort_values

<bound method DataFrame.sort_values of                     Coefficient
trams              0.000000e+00
fastEight          2.220446e-16
fastSixes          2.220446e-16
fastQuads          2.637861e+00
quad               2.655619e+00
triple             2.030229e+00
double             7.242100e-01
surface            2.425592e+00
total_chairs       1.274649e+00
Runs               5.596709e+00
TerrainParks       5.049631e-01
LongestRun_mi      1.005198e+00
SkiableTerrain_ac  1.282563e-02
Snow Making_ac     1.262172e+00
daysOpenLastYear   1.957310e+00
yearsOpen          1.044784e+00
averageSnowfall    1.341162e+00
projectedDaysOpen  8.580993e-01
NightSkiing_ac     5.980718e-02
clusters           4.750811e+00>

In [36]:
len(df_coeff)

20

Identify the Final Mode

In [37]:
#According to the results, I would choose the model #3
#There is not much a manager can do with state, summit_elev and vertical_drop. Model #1 or model #2 not good enough
#Model 3 would consider trams and all the variables regarding the chairs. 
#That's also supported by model 1 or 2 by ignoring the variables state, summit_elev and vertical_drop