In [1]:
#Start by loading the necessary packages and printing out our current working directory just to confirm we are in the correct project directory.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
print(os.getcwd())

/Users/arnaldofolder/Downloads/Step 6

Fit Models with Training Dataset

In [3]:
df_2 = pd.read_csv('Notebook_step3_output_final.csv')

In [4]:
df_2.head()

,Unnamed: 0,Name,state,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,...,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac,clusters
0,0,Hilltop Ski Area,Alaska,2090.0,294.0,0.0,0.0,0.0,0.0,0.0,...,30.0,30.000000,150.000000,36.0,69.0,30.0,34.00000,152.0,30.0,1
1,1,Sunrise Park Resort,Arizona,11100.0,1800.0,0.0,0.0,0.0,1.0,2.0,...,800.0,80.000000,115.000000,49.0,250.0,74.0,78.00000,104.0,80.0,2
2,2,Yosemite Ski & Snowboard Area,California,7800.0,600.0,0.0,0.0,0.0,0.0,0.0,...,88.0,174.873239,110.000000,84.0,300.0,47.0,47.00000,107.0,0.0,2
3,3,Boreal Mountain Resort,California,7700.0,500.0,0.0,0.0,0.0,1.0,1.0,...,380.0,200.000000,150.000000,54.0,400.0,49.0,64.16681,150.0,200.0,2
4,4,Dodge Ridge,California,8200.0,1600.0,0.0,0.0,0.0,0.0,1.0,...,862.0,174.873239,115.103943,69.0,350.0,78.0,78.00000,140.0,0.0,2

In [5]:
columns_df_2 = list(df_2.columns)

In [6]:
df_2 = df_2.drop(columns = columns_df_2[0])

In [7]:
df_2.head()

,Name,state,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,...,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac,clusters
0,Hilltop Ski Area,Alaska,2090.0,294.0,0.0,0.0,0.0,0.0,0.0,1.0,...,30.0,30.000000,150.000000,36.0,69.0,30.0,34.00000,152.0,30.0,1
1,Sunrise Park Resort,Arizona,11100.0,1800.0,0.0,0.0,0.0,1.0,2.0,3.0,...,800.0,80.000000,115.000000,49.0,250.0,74.0,78.00000,104.0,80.0,2
2,Yosemite Ski & Snowboard Area,California,7800.0,600.0,0.0,0.0,0.0,0.0,0.0,1.0,...,88.0,174.873239,110.000000,84.0,300.0,47.0,47.00000,107.0,0.0,2
3,Boreal Mountain Resort,California,7700.0,500.0,0.0,0.0,0.0,1.0,1.0,3.0,...,380.0,200.000000,150.000000,54.0,400.0,49.0,64.16681,150.0,200.0,2
4,Dodge Ridge,California,8200.0,1600.0,0.0,0.0,0.0,0.0,1.0,2.0,...,862.0,174.873239,115.103943,69.0,350.0,78.0,78.00000,140.0,0.0,2

In [ ]:
#Model 3
#Drop summit_elev and vertical_drop 
# Import the preprocessing package from the sklearn library
from sklearn import preprocessing
# Declare an explanatory variable, called X,and assign it the result of dropping 'summit_elev' and 'vertical_drop' from the df
x = df_2.drop(['Name','state', 'summit_elev','vertical_drop', 'AdultWeekday', 'AdultWeekend'], axis=1)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y = df_2.AdultWeekend

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = preprocessing.StandardScaler().fit(x)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled=scaler.transform(x)

In [ ]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split
# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=1)

In [ ]:
#Import linear_model from sklearn
#Import explained_variance_score,mean_absolute_error from sklearn.metrics
from sklearn import linear_model

lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [ ]:
#Predict on the testing dataset and score the model performance with the y_test set and the y-pred values. 
#The explained variance is a measure of the variation explained by the model. 
#This is also known as the R-squared value.
#Use predict() function 
#Make a variable called y_pred and assign it the result of calling predict() 
#Variable parameter X_test
y_pred = lm.predict(X_test)

In [ ]:
# You might want to use the explained_variance_score() and mean_absolute_error() metrics.
# To do so, you will need to import them from sklearn.metrics
from sklearn.metrics import explained_variance_score,mean_absolute_error
# You can plug y_test and y_pred into the functions to evaluate the model
variance_score_3 = explained_variance_score(y_test, y_pred)
mean_absolute_error_3 = mean_absolute_error(y_test, y_pred)

In [ ]:
print('Variance Score is', variance_score_3)
print('Mean absolute error is', mean_absolute_error_3)

In [ ]:
#Print the intercept value from the linear model.
#The intercept is the mean AdultWeekday price for all the resorts given the other characteristics.  
print('The intercept is', lm.intercept_)

In [ ]:
#Pandas DataFrame displaying the coefficients for each columns
#As we can see, the highest coefficient is on the trams, fastEight and all the variables regarding to chairs
#Managers should focus on those variables according to our model to positively affect the AdultWeekday price
df_coeff = pd.DataFrame(abs(lm.coef_), x.columns, columns=['Coefficient'])
df_coeff.sort_values

In [ ]:
#Use the data to get the ticket value for Big Mountain Resort

In [ ]:
df = pd.read_csv('1589505302_05152020_updated_ski_data_-_updated_ski_data.csv')

In [ ]:
df.head()

In [ ]:
big_mountain_resort = df[df['Name'].str.contains('Big Mountain Resort')]

In [ ]:
pd.set_option('max_columns', None)
big_mountain_resort

In [ ]:
#Coefficients to take into consideration
#trams, fastEight, fastSixes, fastQuads, quad, triple, double, surface, TerrainParks, LongestRun_mi

coefficients = [0.000000e+00, 2.220446e-16, 2.220446e-16, 2.637861e+00, 2.655619e+00, 2.030229e+00,7.242100e-01,
               2.425592e+00, 5.049631e-01, 1.005198e+00]
variables = [0, 0, 0, 3.0, 2.0, 6.0, 0.0, 3.0, 4.0, 3.3]
intercept = 56.84708158683219

In [ ]:
adultWeekend_price = np.dot(coefficients, variables)+ intercept

In [ ]:
print('Price of the ticket should be', adultWeekend_price)

In [ ]:
#By taking those variables into consideration(that the manager can work as well), we identified a possible price
#Using np.dot (sum product) plus the intercept, we got a ticket price of 95.00 for Big Mountain Resort

In [ ]:
#As part of reviewing the results it is an important step to generate figures to visualize the data story.
#We can use the clusters we added to our data frame to create scatter plots for visualizing the Adult Weekend values
#Run the example below to get you started and build two or three more figures to include in your data story telling.
plt.scatter(df_2['summit_elev'], df_2['vertical_drop'], c=df_2['clusters'], s=50, cmap='viridis', label ='clusters')
plt.xlabel('summit_elev')
plt.ylabel('vertical_drop')
plt.title('summit_elev by vertical_drop by cluster')

In [ ]:
plt.scatter(df_2['total_chairs'], df_2['projectedDaysOpen'], c=df_2['clusters'], s=50, cmap='viridis', label ='clusters')
plt.xlabel('total_chairs')
plt.ylabel('projectedDaysOpen')
plt.title('total_chairs by projectedDaysOpen by cluster')

In [ ]:
plt.scatter(df_2['LongestRun_mi'], df_2['TerrainParks'], c=df_2['clusters'], s=50, cmap='viridis', label ='clusters')
plt.xlabel('total_chairs')
plt.ylabel('projectedDaysOpen')
plt.title('total_chairs by projectedDaysOpen by cluster')

In [ ]:
state_dummies = pd.get_dummies(df_2['state'], prefix = 'state')

In [ ]:
df_3 = df.drop(columns = ['state', 'Region'])

In [ ]:
df_3.head()

In [ ]:
df_3 = pd.concat([state_dummies, df_2], axis = 1)

In [ ]:
df_3.head()

In [ ]:
plt.scatter(df_3['state_Alaska'], df_3['summit_elev'], c=df_3['clusters'], s=50, cmap='viridis', label ='clusters')
plt.xlabel('state_Alaska')
plt.ylabel('summit_elev')
plt.title('summit_elev by state_Alaska by cluster')

Finalize Code

In [ ]:
import pickle
s = pickle.dumps(model)

In [ ]:
from joblib import dump, load
dump(model, 'Models')