In [1]:
#load python packages
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
#See the current location to read the data
path = os.getcwd()
dir_list = os.listdir(path) 
dir_list

['updated_ski_data.csv',
 '.DS_Store',
 'Data\\Notebook_steptwo.ipynb.csv',
 'Notebook_steptwo.ipynb',
 'Models',
 'GuidedCapstone_Step2HL (1).ipynb',
 'Figures',
 '.ipynb_checkpoints',
 'Data']

In [3]:
#Read the csv file
data = pd.read_csv('updated_ski_data.csv')
data.head()

,Name,Region,state,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,...,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac
0,Alyeska Resort,Alaska,Alaska,3939,2500,250,1,0.0,0,2,...,1.0,1610.0,113.0,150.0,60.0,669.0,65.0,85.0,150.0,550.0
1,Eaglecrest Ski Area,Alaska,Alaska,2600,1540,1200,0,0.0,0,0,...,2.0,640.0,60.0,45.0,44.0,350.0,47.0,53.0,90.0,NaN
2,Hilltop Ski Area,Alaska,Alaska,2090,294,1796,0,0.0,0,0,...,1.0,30.0,30.0,150.0,36.0,69.0,30.0,34.0,152.0,30.0
3,Arizona Snowbowl,Arizona,Arizona,11500,2300,9200,0,0.0,1,0,...,2.0,777.0,104.0,122.0,81.0,260.0,89.0,89.0,122.0,NaN
4,Sunrise Park Resort,Arizona,Arizona,11100,1800,9200,0,NaN,0,1,...,1.2,800.0,80.0,115.0,49.0,250.0,74.0,78.0,104.0,80.0

In [4]:
path

'/Users/arnaldofolder/Downloads/Step 2'

In [5]:
dir_list = os.listdir(path) 
dir_list

['updated_ski_data.csv',
 '.DS_Store',
 'Data\\Notebook_steptwo.ipynb.csv',
 'Notebook_steptwo.ipynb',
 'Models',
 'GuidedCapstone_Step2HL (1).ipynb',
 'Figures',
 '.ipynb_checkpoints',
 'Data']

In [6]:
#Have the columns as a list for future use in loops functions
columns = list(data.columns)

In [7]:
#Save the numeric columns for future use in loops functions
numeric_columns = columns[3:]
numeric_columns

['summit_elev',
 'vertical_drop',
 'base_elev',
 'trams',
 'fastEight',
 'fastSixes',
 'fastQuads',
 'quad',
 'triple',
 'double',
 'surface',
 'total_chairs',
 'Runs',
 'TerrainParks',
 'LongestRun_mi',
 'SkiableTerrain_ac',
 'Snow Making_ac',
 'daysOpenLastYear',
 'yearsOpen',
 'averageSnowfall',
 'AdultWeekday',
 'AdultWeekend',
 'projectedDaysOpen',
 'NightSkiing_ac']

In [8]:
data.dtypes

Name                  object
Region                object
state                 object
summit_elev            int64
vertical_drop          int64
base_elev              int64
trams                  int64
fastEight            float64
fastSixes              int64
fastQuads              int64
quad                   int64
triple                 int64
double                 int64
surface                int64
total_chairs           int64
Runs                 float64
TerrainParks         float64
LongestRun_mi        float64
SkiableTerrain_ac    float64
Snow Making_ac       float64
daysOpenLastYear     float64
yearsOpen            float64
averageSnowfall      float64
AdultWeekday         float64
AdultWeekend         float64
projectedDaysOpen    float64
NightSkiing_ac       float64
dtype: object

In [9]:
#Make sure all the columns are going to be float to know the NaN values in all columns. 
for col in columns[3:]:
    data[col] = data[col].astype(float)

In [10]:
#Make sure all the columns are now in the desired format
data.dtypes

Name                  object
Region                object
state                 object
summit_elev          float64
vertical_drop        float64
base_elev            float64
trams                float64
fastEight            float64
fastSixes            float64
fastQuads            float64
quad                 float64
triple               float64
double               float64
surface              float64
total_chairs         float64
Runs                 float64
TerrainParks         float64
LongestRun_mi        float64
SkiableTerrain_ac    float64
Snow Making_ac       float64
daysOpenLastYear     float64
yearsOpen            float64
averageSnowfall      float64
AdultWeekday         float64
AdultWeekend         float64
projectedDaysOpen    float64
NightSkiing_ac       float64
dtype: object

In [11]:
#Show the total non-null values with the new type of each column in the data frame.
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 27 columns):
Name                 330 non-null object
Region               330 non-null object
state                330 non-null object
summit_elev          330 non-null float64
vertical_drop        330 non-null float64
base_elev            330 non-null float64
trams                330 non-null float64
fastEight            164 non-null float64
fastSixes            330 non-null float64
fastQuads            330 non-null float64
quad                 330 non-null float64
triple               330 non-null float64
double               330 non-null float64
surface              330 non-null float64
total_chairs         330 non-null float64
Runs                 326 non-null float64
TerrainParks         279 non-null float64
LongestRun_mi        325 non-null float64
SkiableTerrain_ac    327 non-null float64
Snow Making_ac       284 non-null float64
daysOpenLastYear     279 non-null float64
yearsOpen            329 non-null float64
averageSnowfall      316 non-null float64
AdultWeekday         276 non-null float64
AdultWeekend         279 non-null float64
projectedDaysOpen    283 non-null float64
NightSkiing_ac       187 non-null float64
dtypes: float64(24), object(3)
memory usage: 69.7+ KB

In [12]:
#Print a list with the unique values of each column
for col in columns:    
    unique_values = data[col].unique().tolist()
    print(col)
    print(unique_values)

Name
['Alyeska Resort', 'Eaglecrest Ski Area', 'Hilltop Ski Area', 'Arizona Snowbowl', 'Sunrise Park Resort', 'Yosemite Ski & Snowboard Area', 'Bear Mountain', 'Bear Valley', 'Boreal Mountain Resort', 'Dodge Ridge', 'Donner Ski Ranch', 'Heavenly Mountain Resort', 'June Mountain', 'Kirkwood', 'Mammoth Mountain Ski Area', 'Mt. Shasta Ski Park', 'Mountain High', 'Mt. Baldy', 'Northstar California', 'Sierra-at-Tahoe', 'Ski China Peak', 'Snow Summit', 'Snow Valley', 'Soda Springs', 'Sugar Bowl Resort', 'Tahoe Donner', 'Arapahoe Basin Ski Area', 'Aspen / Snowmass', 'Beaver Creek', 'Breckenridge', 'Copper Mountain Resort', 'Crested Butte Mountain Resort', 'Purgatory', 'Eldora Mountain Resort', 'Howelsen Hill', 'Keystone', 'Loveland', 'Monarch Mountain', 'Powderhorn', 'Silverton Mountain', 'Cooper', 'Ski Granby Ranch', 'Steamboat', 'Sunlight Mountain Resort', 'Telluride', 'Vail', 'Winter Park Resort', 'Wolf Creek Ski Area', 'Mohawk Mountain', 'Mount Southington Ski Area', 'Powder Ridge Park', 'Ski Sundown', 'Woodbury Ski Area', 'Bogus Basin', 'Brundage Mountain Resort', 'Kelly Canyon Ski Area', 'Lookout Pass Ski Area', 'Magic Mountain Ski Area', 'Pebble Creek Ski Area', 'Pomerelle Mountain Resort', 'Schweitzer', 'Silver Mountain', 'Soldier Mountain Ski Area', 'Sun Valley', 'Tamarack Resort', 'Chestnut Mountain Resort', 'Four Lakes', 'Ski Snowstar Winter Sports Park', 'Villa Olivia', 'Paoli Peaks', 'Perfect North Slopes', 'Mt. Crescent Ski Area', 'Seven Oaks', 'Sundown Mountain', 'Big Squaw Mountain Ski Resort', 'Camden Snow Bowl', 'Lost Valley', 'Mt. Abram Ski Resort', 'Mt. Jefferson', 'New Hermon Mountain', 'Shawnee Peak', 'Sugarloaf', 'Sunday River', 'Wisp', 'Berkshire East', 'Blandford Ski Area', 'Blue Hills Ski Area', 'Bousquet Ski Area', 'Bradford Ski Area', 'Jiminy Peak', 'Nashoba Valley', 'Otis Ridge Ski Area', 'Ski Butternut', 'Ski Ward', 'Wachusett Mountain Ski Area', 'Alpine Valley Ski Area', 'Apple Mountain', 'Big Powderhorn Mountain', 'Bittersweet Ski Area', 'Big Snow Resort - Blackjack', 'Boyne Highlands', 'Boyne Mountain Resort', 'Caberfae Peaks', 'Cannonsburg', 'Crystal Mountain', 'Big Snow Resort - Indianhead Mountain', 'Marquette Mountain', 'Mont Ripley', 'Mount Bohemia', 'Mt. Brighton', 'Mt. Holiday Ski Area', 'Mount Holly', "Mulligan's Hollow Ski Bowl", 'Norway Mountain', 'Nubs Nob Ski Area', 'Pine Knob Ski Resort', 'Pine Mountain', 'Schuss Mountain at Shanty Creek', 'Ski Brule', 'Snow Snake Mountain Ski Area', 'Swiss Valley', 'The Homestead', 'Timber Ridge', 'Treetops Resort', 'Afton Alps', 'Andes Tower Hills Ski Area', 'Buck Hill', 'Buena Vista Ski Area', 'Coffee Mill Ski & Snowboard Resort', 'Elm Creek Winter Recreation Area', 'Giants Ridge Resort', 'Hyland Ski & Snowboard Area', 'Lutsen Mountains', 'Mount Kato Ski Area', 'Powder Ridge Ski Area', 'Spirit Mountain', 'Welch Village', 'Wild Mountain Ski & Snowboard Area', 'Hidden Valley Ski Area', 'Snow Creek', 'Big Sky Resort', 'Blacktail Mountain Ski Area', 'Bridger Bowl', 'Discovery Ski Area', 'Great Divide', 'Lost Trail - Powder Mtn', 'Maverick Mountain', 'Montana Snowbowl', 'Red Lodge Mountain', 'Showdown Montana', 'Teton Pass Ski Resort', 'Whitefish Mountain Resort', 'Diamond Peak', 'Elko SnoBowl', 'Lee Canyon', 'Mt. Rose - Ski Tahoe', 'Attitash', 'Black Mountain', 'Bretton Woods', 'Cannon Mountain', 'Cranmore Mountain Resort', 'Crotched Mountain', 'Dartmouth Skiway', 'Gunstock', 'King Pine', 'Loon Mountain', 'Mount Sunapee', 'Pats Peak', 'Ragged Mountain Resort', 'Waterville Valley', 'Whaleback Mountain', 'Wildcat Mountain', 'Campgaw Mountain', 'Mountain Creek Resort', 'Angel Fire Resort', 'Enchanted Forest Ski Area', 'Pajarito Mountain Ski Area', 'Red River', 'Sandia Peak', 'Sipapu Ski Resort', 'Ski Apache', 'Ski Santa Fe', 'Taos Ski Valley', 'Belleayre', 'Brantling Ski Slopes', 'Bristol Mountain', 'Buffalo Ski Club Ski Area', 'Catamount', 'Dry Hill Ski Area', 'Gore Mountain', 'Greek Peak', 'Holiday Mountain', 'Holiday Valley', 'Holimont Ski Area', 'Hunt Hollow Ski Club', 'Hunter Mountain', 'Kissing Bridge', 'Labrador Mt.', 'Maple Ski Ridge', 'McCauley Mountain Ski Center', 'Mount Peter Ski Area', 'Oak Mountain', "Peek'n Peak", 'Plattekill Mountain', 'Royal Mountain Ski Area', 'Snow Ridge', 'Song Mountain', 'Swain', 'Thunder Ridge', 'Titus Mountain', 'Toggenburg Mountain', 'West Mountain', 'Whiteface Mountain Resort', 'Willard Mountain', 'Windham Mountain', 'Woods Valley Ski Area', 'Appalachian Ski Mountain', 'Cataloochee Ski Area', 'Sapphire Valley', 'Beech Mountain Resort', 'Sugar Mountain Resort', 'Wolf Ridge Ski Resort', 'Alpine Valley', 'Boston Mills', 'Brandywine', 'Mad River Mountain', 'Snow Trails', 'Anthony Lakes Mountain Resort', 'Cooper Spur', 'Hoodoo Ski Area', 'Mt. Ashland', 'Mt. Bachelor', 'Mt. Hood Meadows', 'Mt. Hood Skibowl', 'Spout Springs', 'Timberline Lodge', 'Willamette Pass', 'Bear Creek Mountain Resort', 'Ski Big Bear', 'Big Boulder', 'Blue Knob', 'Blue Mountain Resort', 'Camelback Mountain Resort', 'Eagle Rock', 'Elk Mountain Ski Resort', 'Jack Frost', 'Liberty', 'Mount Pleasant of Edinboro', 'Roundtop Mountain Resort', 'Seven Springs', 'Shawnee Mountain Ski Area', 'Ski Sawmill', 'Montage Mountain', 'Spring Mountain Ski Area', 'Tussey Mountain', 'Whitetail Resort', 'Yawgoo Valley', 'Deer Mountain Ski Resort', 'Terry Peak Ski Area', 'Ober Gatlinburg Ski Resort', 'Alta Ski Area', 'Beaver Mountain', 'Brian Head Resort', 'Brighton Resort', 'Deer Valley Resort', 'Eagle Point', 'Park City', 'Powder Mountain', 'Snowbasin', 'Snowbird', 'Solitude Mountain Resort', 'Sundance', 'Nordic Valley Resort', 'Bolton Valley', 'Bromley Mountain', 'Burke Mountain', 'Jay Peak', 'Killington Resort', 'Mad River Glen', 'Magic Mountain', 'Mount Snow', 'Okemo Mountain Resort', 'Pico Mountain ', "Smugglers' Notch Resort", 'Stowe Mountain Resort', 'Stratton Mountain', 'Sugarbush', 'Suicide Six', 'Bryce Resort', 'Massanutten', 'The Homestead Ski Area', 'Wintergreen Resort', '49 Degrees North', 'Alpental', 'Bluewood', 'Mission Ridge', 'Mt. Baker', 'Mt. Spokane Ski and Snowboard Park', 'Stevens Pass Resort', 'The Summit at Snoqualmie', 'White Pass', 'Canaan Valley Resort', 'Snowshoe Mountain Resort', 'Timberline Four Seasons', 'Winterplace Ski Resort', 'Alpine Valley Resort', 'Bruce Mound', 'Cascade Mountain', 'Christie Mountain', 'Christmas Mountain', 'Devils Head', 'Grand Geneva', 'Granite Peak Ski Area', 'Little Switzerland', 'Mount La Crosse', 'Nordic Mountain', 'Sunburst', 'Trollhaugen', 'Tyrol Basin', 'Whitecap Mountain', 'Wilmot Mountain', 'Grand Targhee Resort', 'Hogadon Basin', 'Jackson Hole', 'Meadowlark Ski Lodge', 'Sleeping Giant Ski Resort', 'Snow King Resort', 'Snowy Range Ski & Recreation Area', 'White Pine Ski Area']
Region
['Alaska', 'Arizona', 'Northern California', 'Sierra Nevada', 'Colorado', 'Connecticut', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Missouri', 'Montana', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'Ohio', 'Oregon', 'Mt. Hood', 'Pennsylvania', 'Rhode Island', 'South Dakota', 'Tennessee', 'Salt Lake City', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']
state
['Alaska', 'Arizona', 'California', 'Colorado', 'Connecticut', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Missouri', 'Montana', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'Ohio', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Dakota', 'Tennessee', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']
summit_elev
[3939.0, 2600.0, 2090.0, 11500.0, 11100.0, 7800.0, 8805.0, 8500.0, 7700.0, 8200.0, 8012.0, 10067.0, 10090.0, 9800.0, 11053.0, 6890.0, 8600.0, 8610.0, 8852.0, 8709.0, 7841.0, 7352.0, 8383.0, 7350.0, 13050.0, 12510.0, 11440.0, 12998.0, 12313.0, 12162.0, 10822.0, 10600.0, 7136.0, 12408.0, 13010.0, 11952.0, 9850.0, 13487.0, 11700.0, 9202.0, 10568.0, 9895.0, 13150.0, 11570.0, 12060.0, 11904.0, 1600.0, 525.0, 720.0, 1075.0, 730.0, 7582.0, 7640.0, 6600.0, 5650.0, 7200.0, 8560.0, 9000.0, 6400.0, 6300.0, 9150.0, 1040.0, 500.0, 790.0, 900.0, 800.0, 1500.0, 975.0, 1059.0, 3200.0, 1080.0, 495.0, 2250.0, 753.0, 450.0, 1900.0, 4237.0, 3140.0, 3115.0, 1720.0, 1685.0, 635.0, 1875.0, 1548.0, 2380.0, 440.0, 1700.0, 1800.0, 420.0, 2006.0, 820.0, 850.0, 1290.0, 1120.0, 1569.0, 1100.0, 1132.0, 1935.0, 1357.0, 1140.0, 1330.0, 1105.0, 700.0, 1335.0, 1338.0, 1308.0, 1650.0, 1125.0, 1860.0, 1230.0, 1200.0, 1345.0, 1530.0, 1620.0, 1225.0, 1510.0, 1150.0, 928.0, 1972.0, 1688.0, 540.0, 1320.0, 1060.0, 1113.0, 2566.0, 11166.0, 6676.0, 8700.0, 8150.0, 7330.0, 8520.0, 7600.0, 9416.0, 6817.0, 8540.0, 7000.0, 11289.0, 9700.0, 2350.0, 3100.0, 4080.0, 2000.0, 2066.0, 1943.0, 2300.0, 3050.0, 2743.0, 1460.0, 4004.0, 4062.0, 726.0, 1480.0, 10677.0, 10078.0, 10441.0, 10350.0, 10378.0, 9255.0, 12075.0, 12481.0, 3429.0, 2200.0, 950.0, 3600.0, 2100.0, 1550.0, 2260.0, 2030.0, 1825.0, 1250.0, 2400.0, 3500.0, 1940.0, 1970.0, 1270.0, 2025.0, 1470.0, 4650.0, 1415.0, 1400.0, 4000.0, 5400.0, 3450.0, 5506.0, 5300.0, 4700.0, 871.0, 1475.0, 8000.0, 5703.0, 7533.0, 9065.0, 7300.0, 5100.0, 5500.0, 6683.0, 2175.0, 3146.0, 1810.0, 2693.0, 1190.0, 1540.0, 2994.0, 1350.0, 2215.0, 1960.0, 528.0, 1750.0, 315.0, 6850.0, 7100.0, 3300.0, 11068.0, 10970.0, 10500.0, 9570.0, 10000.0, 9422.0, 9350.0, 11000.0, 10488.0, 8250.0, 3150.0, 3284.0, 3267.0, 3968.0, 4241.0, 3637.0, 2850.0, 3344.0, 3967.0, 3640.0, 4395.0, 3875.0, 4083.0, 2925.0, 3515.0, 5774.0, 5420.0, 5670.0, 7012.0, 6820.0, 5000.0, 5889.0, 5845.0, 3865.0, 6550.0, 4280.0, 4848.0, 4265.0, 1375.0, 1280.0, 995.0, 1086.0, 1942.0, 1269.0, 1110.0, 1137.0, 1160.0, 1030.0, 9920.0, 10450.0, 9500.0, 7428.0, 7808.0, 9663.0]
vertical_drop
[2500.0, 1540.0, 294.0, 2300.0, 1800.0, 600.0, 1665.0, 1900.0, 500.0, 1600.0, 750.0, 3500.0, 2590.0, 2000.0, 3100.0, 1435.0, 2100.0, 2280.0, 2212.0, 1679.0, 1200.0, 1041.0, 652.0, 1500.0, 2530.0, 4406.0, 3340.0, 3398.0, 2738.0, 3062.0, 2029.0, 1400.0, 440.0, 3128.0, 2210.0, 1162.0, 1650.0, 3087.0, 1000.0, 3668.0, 2010.0, 4425.0, 3450.0, 3060.0, 1604.0, 650.0, 425.0, 550.0, 625.0, 300.0, 1150.0, 700.0, 2200.0, 2400.0, 3400.0, 2800.0, 475.0, 100.0, 262.0, 180.0, 400.0, 275.0, 660.0, 850.0, 240.0, 432.0, 350.0, 1350.0, 2820.0, 2340.0, 1180.0, 465.0, 309.0, 248.0, 210.0, 220.0, 552.0, 485.0, 250.0, 375.0, 638.0, 900.0, 230.0, 200.0, 130.0, 427.0, 450.0, 225.0, 320.0, 290.0, 60.0, 175.0, 825.0, 360.0, 310.0, 4350.0, 1440.0, 2600.0, 2380.0, 1580.0, 2020.0, 1010.0, 2353.0, 1840.0, 860.0, 1750.0, 1100.0, 2180.0, 1016.0, 969.0, 1510.0, 770.0, 1250.0, 2112.0, 274.0, 1040.0, 2077.0, 1410.0, 1700.0, 1055.0, 1725.0, 3281.0, 1404.0, 2537.0, 952.0, 633.0, 3430.0, 505.0, 365.0, 740.0, 830.0, 720.0, 264.0, 301.0, 1035.0, 3365.0, 2777.0, 610.0, 3690.0, 1563.0, 510.0, 1072.0, 1082.0, 800.0, 620.0, 340.0, 515.0, 520.0, 935.0, 245.0, 940.0, 2538.0, 1548.0, 1745.0, 3000.0, 3200.0, 2522.0, 2900.0, 3240.0, 2494.0, 2150.0, 960.0, 1704.0, 1334.0, 2011.0, 2153.0, 3050.0, 2037.0, 1967.0, 2610.0, 2360.0, 2003.0, 1110.0, 1003.0, 1851.0, 1125.0, 2250.0, 1025.0, 2050.0, 603.0, 388.0, 460.0, 211.0, 516.0, 265.0, 214.0, 260.0, 2270.0, 640.0, 4139.0, 810.0, 1571.0, 990.0]
base_elev
[250.0, 1200.0, 1796.0, 9200.0, 7200.0, 7140.0, 6600.0, 7031.0, 7170.0, 7545.0, 7800.0, 7953.0, 5500.0, 6500.0, 6330.0, 6640.0, 7030.0, 7000.0, 6800.0, 6700.0, 6883.0, 6750.0, 10780.0, 8104.0, 8100.0, 9600.0, 9712.0, 9375.0, 8793.0, 6696.0, 9280.0, 10800.0, 10790.0, 8200.0, 10400.0, 10500.0, 8202.0, 6900.0, 7885.0, 8725.0, 8120.0, 9000.0, 10300.0, 950.0, 100.0, 170.0, 450.0, 430.0, 5800.0, 5840.0, 5600.0, 4500.0, 6360.0, 8000.0, 4000.0, 4100.0, 5750.0, 4900.0, 565.0, 400.0, 528.0, 320.0, 600.0, 800.0, 584.0, 1750.0, 150.0, 255.0, 1050.0, 351.0, 1417.0, 2415.0, 540.0, 1035.0, 326.0, 1125.0, 1300.0, 1230.0, 200.0, 210.0, 1006.0, 126.0, 385.0, 745.0, 620.0, 1060.0, 850.0, 757.0, 1297.0, 700.0, 1100.0, 240.0, 755.0, 570.0, 835.0, 911.0, 1009.0, 1150.0, 675.0, 1360.0, 1020.0, 975.0, 580.0, 1120.0, 1180.0, 1330.0, 919.0, 1280.0, 725.0, 868.0, 1472.0, 900.0, 300.0, 500.0, 813.0, 2316.0, 7500.0, 5236.0, 6100.0, 5770.0, 6400.0, 5000.0, 7016.0, 6190.0, 4464.0, 6300.0, 8510.0, 8260.0, 1250.0, 1600.0, 1900.0, 974.0, 1233.0, 690.0, 1000.0, 1984.0, 1950.0, 440.0, 8600.0, 9820.0, 9031.0, 8750.0, 8678.0, 10350.0, 2025.0, 650.0, 998.0, 1148.0, 1500.0, 1560.0, 750.0, 1563.0, 1400.0, 2400.0, 1350.0, 1240.0, 1320.0, 770.0, 825.0, 460.0, 1220.0, 910.0, 3635.0, 4660.0, 3200.0, 4675.0, 1260.0, 631.0, 1160.0, 1174.0, 7100.0, 3500.0, 4668.0, 6383.0, 5700.0, 4523.0, 3600.0, 4850.0, 6000.0, 5120.0, 1700.0, 2074.0, 1693.0, 2240.0, 960.0, 78.0, 865.0, 70.0, 6040.0, 5900.0, 2700.0, 8530.0, 7232.0, 8755.0, 6570.0, 9100.0, 6450.0, 7760.0, 7994.0, 5440.0, 1446.0, 1210.0, 1815.0, 1165.0, 1144.0, 2000.0, 1030.0, 2035.0, 1872.0, 1483.0, 550.0, 2500.0, 2512.0, 3932.0, 3140.0, 4545.0, 4400.0, 4570.0, 4200.0, 4061.0, 2840.0, 3430.0, 3348.0, 3268.0, 2997.0, 820.0, 495.0, 875.0, 1242.0, 1069.0, 594.0, 872.0, 866.0, 920.0, 860.0, 1295.0, 7851.0, 7400.0, 6311.0, 8500.0, 6619.0, 6237.0, 8798.0, 8400.0]
trams
[1.0, 0.0, 2.0, 3.0, 4.0]
fastEight
[0.0, nan, 1.0]
fastSixes
[0.0, 1.0, 2.0, 5.0, 3.0, 6.0, 4.0]
fastQuads
[2.0, 0.0, 1.0, 7.0, 9.0, 3.0, 5.0, 15.0, 11.0, 6.0, 4.0, 8.0, 13.0, 10.0]
quad
[2.0, 0.0, 1.0, 3.0, 4.0, 5.0, 8.0]
triple
[0.0, 1.0, 2.0, 3.0, 5.0, 6.0, 4.0, 7.0, 8.0]
double
[0.0, 4.0, 1.0, 3.0, 5.0, 2.0, 6.0, 9.0, 14.0, 10.0]
surface
[2.0, 0.0, 1.0, 4.0, 8.0, 3.0, 7.0, 5.0, 9.0, 15.0, 6.0, 12.0]
total_chairs
[7.0, 4.0, 3.0, 8.0, 5.0, 12.0, 10.0, 28.0, 25.0, 14.0, 20.0, 11.0, 16.0, 9.0, 40.0, 24.0, 34.0, 1.0, 18.0, 17.0, 31.0, 6.0, 2.0, 13.0, 15.0, 22.0, 36.0, 0.0, 21.0, 41.0, 27.0]
Runs
[76.0, 36.0, 13.0, 55.0, 65.0, 10.0, 27.0, 67.0, 33.0, 52.0, 97.0, 41.0, 85.0, 154.0, 32.0, 59.0, 26.0, 100.0, 46.0, 45.0, 28.0, 18.0, 105.0, 14.0, 145.0, 336.0, 150.0, 187.0, 121.0, 101.0, 17.0, 128.0, 94.0, 64.0, 42.0, nan, 40.0, 169.0, 148.0, 195.0, 166.0, 120.0, 25.0, 19.0, 16.0, 12.0, 91.0, 51.0, 35.0, 11.0, 54.0, 24.0, 92.0, 80.0, 48.0, 22.0, 7.0, 15.0, 23.0, 21.0, 29.0, 20.0, 43.0, 162.0, 135.0, 34.0, 47.0, 60.0, 58.0, 6.0, 53.0, 3.0, 62.0, 50.0, 317.0, 74.0, 110.0, 69.0, 37.0, 70.0, 30.0, 68.0, 63.0, 57.0, 61.0, 66.0, 81.0, 39.0, 83.0, 111.0, 56.0, 9.0, 38.0, 86.0, 8.0, 116.0, 71.0, 103.0, 341.0, 167.0, 107.0, 170.0, 79.0, 155.0, 78.0, 99.0, 89.0, 112.0, 75.0, 95.0, 130.0]
TerrainParks
[2.0, 1.0, 4.0, 14.0, 6.0, 5.0, 3.0, 7.0, nan, 9.0, 10.0, 8.0]
LongestRun_mi
[1.0, 2.0, 1.2, 0.4, 1.5, 5.5, 2.5, 3.0, 1.1, 1.6, 1.4, 2.2, 5.3, 2.8, 3.5, 1.7, 2.6, 1.3, 6.0, 0.6, 4.6, 4.0, 4.9, 0.3, 0.5, 0.2, 3.2, 2.1, 0.1, 0.8, 1.9, nan, 0.7, 2.3, 0.9, 0.0, 1.8, 3.3, 5.0, 4.5, 2.4, 3.7, 2.7]
SkiableTerrain_ac
[1610.0, 640.0, 30.0, 777.0, 800.0, 88.0, 198.0, 1680.0, 380.0, 862.0, 505.0, 4800.0, 1500.0, 2300.0, 3500.0, 425.0, 290.0, 400.0, 3170.0, 2000.0, 1400.0, 240.0, 200.0, 1650.0, 120.0, 1428.0, 5517.0, 1832.0, 2908.0, 2527.0, 1547.0, 1605.0, 680.0, 50.0, 3148.0, 1800.0, 1600.0, 26819.0, 406.0, 2965.0, 5289.0, 3081.0, 107.0, 51.0, 80.0, 70.0, 2600.0, 1920.0, 740.0, 540.0, 280.0, 1100.0, 500.0, 2900.0, 1142.0, 2054.0, 1020.0, 139.0, 9.0, 28.0, 15.0, 65.0, 100.0, 35.0, 55.0, nan, 45.0, 12.0, 239.0, 1240.0, 870.0, 172.0, 180.0, 132.0, 60.0, 48.0, 167.0, 52.0, 110.0, 112.0, 253.0, 170.0, 435.0, 415.0, 102.0, 169.0, 585.0, 130.0, 10.0, 186.0, 248.0, 160.0, 150.0, 40.0, 16.0, 250.0, 202.0, 393.0, 175.0, 125.0, 5800.0, 1000.0, 2400.0, 255.0, 950.0, 1635.0, 330.0, 3000.0, 655.0, 195.0, 1200.0, 311.0, 143.0, 464.0, 285.0, 227.0, 370.0, 232.0, 115.0, 265.0, 85.0, 225.0, 23.0, 560.0, 600.0, 750.0, 209.0, 660.0, 1294.0, 20.0, 133.0, 439.0, 220.0, 37.0, 135.0, 320.0, 700.0, 25.0, 69.0, 46.0, 93.0, 124.0, 288.0, 27.0, 8.0, 95.0, 72.0, 144.0, 806.0, 4318.0, 2150.0, 960.0, 1415.0, 555.0, 86.0, 26.0, 164.0, 166.0, 103.0, 140.0, 38.0, 450.0, 2614.0, 650.0, 1050.0, 2026.0, 7300.0, 8464.0, 2500.0, 300.0, 178.0, 385.0, 1515.0, 205.0, 667.0, 260.0, 485.0, 670.0, 581.0, 129.0, 2325.0, 825.0, 355.0, 1704.0, 1125.0, 1994.0, 1402.0, 257.0, 90.0, 32.0, 2602.0, 92.0, 184.0, 75.0]
Snow Making_ac
[113.0, 60.0, 30.0, 104.0, 80.0, nan, 198.0, 100.0, 200.0, 3379.0, 700.0, 225.0, 275.0, 1500.0, 150.0, 240.0, 188.0, 20.0, 375.0, 125.0, 658.0, 650.0, 600.0, 364.0, 297.0, 250.0, 680.0, 25.0, 662.0, 42.0, 170.0, 220.0, 461.0, 313.0, 5.0, 51.0, 68.0, 70.0, 50.0, 2.0, 47.0, 645.0, 139.0, 9.0, 28.0, 15.0, 65.0, 35.0, 55.0, 48.0, 45.0, 175.0, 234.0, 618.0, 552.0, 118.0, 165.0, 98.0, 163.0, 52.0, 110.0, 112.0, 228.0, 86.0, 400.0, 380.0, 96.0, 143.0, 130.0, 10.0, 186.0, 248.0, 160.0, 40.0, 16.0, 202.0, 231.0, 496.0, 492.0, 330.0, 120.0, 427.0, 192.0, 54.0, 176.0, 322.0, 215.0, 115.0, 23.0, 167.0, 230.0, 140.0, 270.0, 647.0, 168.0, 148.0, 26.0, 338.0, 184.0, 37.0, 266.0, 135.0, 320.0, 550.0, 237.0, 69.0, 18.0, 75.0, 90.0, 105.0, 280.0, 27.0, 8.0, 95.0, 72.0, 85.0, 144.0, 29.0, 84.0, 164.0, 166.0, 146.0, 103.0, 285.0, 13.0, 216.0, 660.0, 750.0, 625.0, 153.0, 300.0, 480.0, 654.0, 156.0, 388.0, 474.0, 406.0, 129.0, 66.0, 257.0, 41.0, 260.0, 32.0, 195.0]
daysOpenLastYear
[150.0, 45.0, 122.0, 115.0, 110.0, 165.0, nan, 163.0, 155.0, 200.0, 243.0, 140.0, 118.0, 175.0, 135.0, 160.0, 111.0, 151.0, 230.0, 138.0, 145.0, 182.0, 164.0, 130.0, 147.0, 100.0, 184.0, 205.0, 143.0, 116.0, 131.0, 149.0, 158.0, 63.0, 80.0, 84.0, 126.0, 134.0, 113.0, 65.0, 85.0, 136.0, 60.0, 87.0, 78.0, 56.0, 75.0, 82.0, 67.0, 68.0, 120.0, 102.0, 97.0, 159.0, 121.0, 112.0, 106.0, 107.0, 105.0, 95.0, 139.0, 114.0, 83.0, 133.0, 94.0, 89.0, 47.0, 57.0, 69.0, 144.0, 142.0, 86.0, 40.0, 123.0, 19.0, 152.0, 180.0, 124.0, 104.0, 109.0, 156.0, 90.0, 101.0, 32.0, 127.0, 137.0, 154.0, 129.0, 148.0, 103.0, 73.0, 141.0, 53.0, 98.0, 92.0, 99.0, 185.0, 125.0, 117.0, 305.0, 3.0, 91.0, 76.0, 96.0, 188.0, 161.0, 128.0, 192.0, 146.0, 70.0, 42.0, 61.0]
yearsOpen
[60.0, 44.0, 36.0, 81.0, 49.0, 84.0, 76.0, 52.0, 54.0, 69.0, 82.0, 64.0, 58.0, 47.0, 66.0, 34.0, 95.0, 67.0, 73.0, 62.0, 83.0, 80.0, 48.0, 72.0, 39.0, 57.0, 104.0, 53.0, 17.0, 74.0, 56.0, 79.0, 55.0, 50.0, 77.0, 70.0, 29.0, 71.0, 15.0, 38.0, 41.0, 22.0, 46.0, 6.0, 59.0, 19.0, 68.0, 42.0, 63.0, 45.0, 61.0, 2019.0, 51.0, 65.0, 13.0, 35.0, 43.0, 37.0, 33.0, 21.0, 78.0, 23.0, 16.0, 12.0, 26.0, 87.0, 28.0, 9.0, 86.0, 85.0, 40.0, 25.0, nan]
averageSnowfall
[669.0, 350.0, 69.0, 260.0, 250.0, 300.0, 100.0, 359.0, 400.0, 360.0, 354.0, 108.0, 178.0, 460.0, 160.0, 500.0, 323.0, 234.0, 311.0, 150.0, 235.0, 422.0, 220.0, 336.0, 280.0, 430.0, 92.0, 80.0, 45.0, 70.0, 320.0, 200.0, 180.0, nan, 50.0, 24.0, 38.0, 25.0, 18.0, 30.0, 40.0, 125.0, 90.0, 110.0, 167.0, 120.0, 83.0, 55.0, 115.0, 20.0, 52.0, 214.0, 210.0, 140.0, 132.0, 204.0, 275.0, 273.0, 60.0, 42.0, 135.0, 175.0, 78.0, 48.0, 85.0, 26.0, 225.0, 325.0, 333.0, 161.0, 105.0, 148.0, 65.0, 240.0, 163.0, 190.0, 185.0, 130.0, 122.0, 230.0, 168.0, 31.0, 77.0, 51.0, 36.0, 462.0, 118.0, 550.0, 33.0, 47.0, 41.0, 35.0, 545.0, 355.0, 217.0, 349.0, 228.0, 156.0, 314.0, 34.0, 301.0, 428.0, 486.0, 663.0, 56.0, 75.0, 459.0, 310.0]
AdultWeekday
[65.0, 47.0, 30.0, 89.0, 74.0, nan, 49.0, 78.0, 75.0, 149.0, 84.0, 69.0, 99.0, 83.0, 50.0, 125.0, 85.0, 179.0, 158.0, 25.0, 79.0, 71.0, 56.0, 139.0, 72.0, 60.0, 45.0, 62.0, 42.0, 64.0, 70.0, 44.0, 32.0, 81.0, 57.0, 43.0, 40.0, 38.0, 52.0, 29.0, 33.0, 55.0, 105.0, 59.0, 48.0, 20.0, 37.0, 39.0, 35.0, 54.0, 68.0, 22.0, 15.0, 58.0, 34.0, 23.0, 17.0, 35.34, 36.0, 63.0, 46.0, 67.0, 135.0, 80.0, 79.99, 77.0, 110.0, 27.0, 26.0, 96.0, 31.0, 41.0, 116.0, 169.0, 88.0, 115.0, 109.0, 87.0, 73.0, 119.0, 53.75, 28.0, 92.0, 90.0]
AdultWeekend

In [13]:
#Calculate the percentage of unique values for each column
for col in columns:
    percentage = len(data[col].unique().tolist())/data.shape[0] 
    print(col)
    print(percentage*100,'%')

Name
99.69696969696969 %
Region
11.515151515151516 %
state
10.606060606060606 %
summit_elev
80.60606060606061 %
vertical_drop
58.484848484848484 %
base_elev
73.93939393939394 %
trams
1.5151515151515151 %
fastEight
0.9090909090909091 %
fastSixes
2.1212121212121215 %
fastQuads
4.242424242424243 %
quad
2.1212121212121215 %
triple
2.727272727272727 %
double
3.0303030303030303 %
surface
3.6363636363636362 %
total_chairs
9.393939393939393 %
Runs
33.63636363636363 %
TerrainParks
3.6363636363636362 %
LongestRun_mi
13.030303030303031 %
SkiableTerrain_ac
58.78787878787879 %
Snow Making_ac
43.63636363636363 %
daysOpenLastYear
33.939393939393945 %
yearsOpen
22.12121212121212 %
averageSnowfall
32.72727272727273 %
AdultWeekday
25.454545454545453 %
AdultWeekend
24.848484848484848 %
projectedDaysOpen
27.575757575757574 %
NightSkiing_ac
23.939393939393938 %

In [14]:
#Counting values
#Special enphasis on unique values
for col in columns:
    number_counts = data[col].value_counts(dropna = False)
    print(col)
    print(number_counts)

Name
Crystal Mountain             2
Ski Apache                   1
Ski Ward                     1
Timberline Four Seasons      1
Beaver Creek                 1
                            ..
Okemo Mountain Resort        1
Soldier Mountain Ski Area    1
49 Degrees North             1
Snow Creek                   1
Telluride                    1
Name: Name, Length: 329, dtype: int64
Region
New York               33
Michigan               29
Sierra Nevada          22
Colorado               22
Pennsylvania           19
Wisconsin              16
New Hampshire          16
Vermont                15
Minnesota              14
Montana                12
Idaho                  12
Massachusetts          11
Washington             10
New Mexico              9
Maine                   9
Wyoming                 8
Utah                    7
Salt Lake City          6
North Carolina          6
Oregon                  6
Ohio                    5
Connecticut             5
Illinois                4
West Virginia           4
Mt. Hood                4
Virginia                4
Iowa                    3
Alaska                  3
Missouri                2
Nevada                  2
New Jersey              2
South Dakota            2
Arizona                 2
Indiana                 2
Northern California     1
Maryland                1
Rhode Island            1
Tennessee               1
Name: Region, dtype: int64
state
New York          33
Michigan          29
Colorado          22
California        21
Pennsylvania      19
New Hampshire     16
Wisconsin         16
Vermont           15
Minnesota         14
Utah              13
Montana           12
Idaho             12
Massachusetts     11
Washington        10
Oregon            10
Maine              9
New Mexico         9
Wyoming            8
North Carolina     6
Ohio               5
Connecticut        5
Illinois           4
Virginia           4
West Virginia      4
Nevada             4
Iowa               3
Alaska             3
Arizona            2
Indiana            2
New Jersey         2
Missouri           2
South Dakota       2
Maryland           1
Rhode Island       1
Tennessee          1
Name: state, dtype: int64
summit_elev
1800.0    6
850.0     5
2000.0    5
8200.0    5
1200.0    4
         ..
1190.0    1
7330.0    1
5400.0    1
1060.0    1
2600.0    1
Name: summit_elev, Length: 266, dtype: int64
vertical_drop
700.0     12
500.0     11
1000.0    10
300.0     10
600.0      8
          ..
2738.0     1
3500.0     1
1540.0     1
4406.0     1
2500.0     1
Name: vertical_drop, Length: 193, dtype: int64
base_elev
600.0     10
800.0      7
1000.0     6
1300.0     4
1200.0     4
          ..
385.0      1
1006.0     1
351.0      1
5840.0     1
250.0      1
Name: base_elev, Length: 244, dtype: int64
trams
0.0    293
1.0     24
2.0      7
3.0      5
4.0      1
Name: trams, dtype: int64
fastEight
NaN    166
0.0    163
1.0      1
Name: fastEight, dtype: int64
fastSixes
0.0    294
1.0     21
2.0     11
4.0      1
6.0      1
3.0      1
5.0      1
Name: fastSixes, dtype: int64
fastQuads
0.0     222
1.0      35
2.0      29
3.0      15
4.0       8
6.0       5
5.0       5
7.0       3
15.0      2
9.0       2
10.0      1
13.0      1
8.0       1
11.0      1
Name: fastQuads, dtype: int64
quad
0.0    171
1.0     78
2.0     43
3.0     22
4.0      8
5.0      6
8.0      2
Name: quad, dtype: int64
triple
0.0    106
1.0     99
2.0     53
3.0     37
4.0     14
5.0      9
6.0      7
7.0      4
8.0      1
Name: triple, dtype: int64
double
1.0     89
0.0     82
2.0     70
3.0     34
4.0     25
5.0     21
6.0      6
10.0     1
14.0     1
9.0      1
Name: double, dtype: int64
surface
2.0     98
1.0     73
3.0     59
0.0     26
4.0     24
5.0     22
6.0     10
7.0      7
9.0      5
8.0      4
12.0     1
15.0     1
Name: surface, dtype: int64
total_chairs
5.0     48
6.0     37
4.0     34
8.0     32
7.0     29
3.0     26
10.0    21
12.0    17
9.0     16
11.0    14
14.0    10
2.0      9
13.0     6
16.0     5
20.0     4
25.0     2
24.0     2
1.0      2
18.0     2
15.0     2
22.0     2
40.0     1
41.0     1
34.0     1
17.0     1
28.0     1
31.0     1
36.0     1
0.0      1
21.0     1
27.0     1
Name: total_chairs, dtype: int64
Runs
14.0     12
23.0     11
17.0      9
10.0      9
27.0      9
         ..
92.0      1
91.0      1
166.0     1
195.0     1
76.0      1
Name: Runs, Length: 111, dtype: int64
TerrainParks
1.0     81
2.0     76
NaN     51
3.0     46
4.0     31
5.0     17
6.0     12
7.0      6
8.0      4
9.0      3
10.0     2
14.0     1
Name: TerrainParks, dtype: int64
LongestRun_mi
1.0    53
1.5    25
2.0    24
3.0    19
0.2    18
0.3    18
1.2    17
0.4    17
2.5    16
0.5    16
0.8    13
0.1    12
0.6    11
3.5     6
0.7     6
NaN     5
1.3     5
1.6     5
4.0     4
2.8     3
1.1     3
0.9     3
2.1     3
2.2     3
6.0     3
1.9     2
2.3     2
4.5     2
1.4     2
2.4     1
5.5     1
4.9     1
5.0     1
3.3     1
0.0     1
3.7     1
2.7     1
5.3     1
2.6     1
1.7     1
4.6     1
1.8     1
3.2     1
Name: LongestRun_mi, dtype: int64
SkiableTerrain_ac
100.0     15
50.0       8
200.0      8
45.0       7
40.0       6
          ..
92.0       1
32.0       1
1704.0     1
129.0      1
1610.0     1
Name: SkiableTerrain_ac, Length: 194, dtype: int64
Snow Making_ac
NaN      46
100.0    15
30.0     13
50.0      9
60.0      8
         ..
85.0      1
144.0     1
29.0      1
164.0     1
113.0     1
Name: Snow Making_ac, Length: 144, dtype: int64
daysOpenLastYear
NaN      51
100.0    21
120.0    11
110.0    11
105.0     9
         ..
129.0     1
95.0      1
103.0     1
73.0      1
305.0     1
Name: daysOpenLastYear, Length: 112, dtype: int64
yearsOpen
58.0    17
56.0    15
55.0    15
54.0    14
57.0    14
        ..
41.0     1
15.0     1
NaN      1
77.0     1
29.0     1
Name: yearsOpen, Length: 73, dtype: int64
averageSnowfall
300.0    22
50.0     17
100.0    15
NaN      14
250.0    14
         ..
77.0      1
36.0      1
462.0     1
118.0     1
669.0     1
Name: averageSnowfall, Length: 108, dtype: int64
AdultWeekday
NaN       54
49.00     16
45.00     12
55.00     10
50.00     10
          ..
115.00     1
57.00      1
64.00      1
109.00     1
35.34      1
Name: AdultWeekday, Length: 84, dtype: int64
AdultWeekend
NaN       51
49.00     13
45.00     12
59.00     12
65.00     11
          ..
33.00      1
96.00      1
135.00     1
76.00      1
35.34      1
Name: AdultWeekend, Length: 82, dtype: int64
projectedDaysOpen
NaN      47
100.0    27
120.0    19
150.0    13
130.0    12
         ..
111.0     1
77.0      1
58.0      1
86.0      1
169.0     1
Name: projectedDaysOpen, Length: 91, dtype: int64
NightSkiing_ac
NaN      143
100.0     18
30.0       9
35.0       9
40.0       8
        ...
17.0       1
650.0      1
130.0      1
89.0       1
550.0      1
Name: NightSkiing_ac, Length: 79, dtype: int64

In [15]:
#Calculate the range for each columns. 
#It makes special enphasis to possible know outliers, data dispertion
#Create a for option with the agg function and then a Range with the substraction of the max and min value
pd.set_option('display.max_columns', None)
for col in numeric_columns:
    range_data = data[col].agg(['max','min']).T
    print(col)
    print('Range:', data[col].max() - data[col].min())
    print(range_data)

summit_elev
Range: 13172.0
max    13487.0
min      315.0
Name: summit_elev, dtype: float64
vertical_drop
Range: 4365.0
max    4425.0
min      60.0
Name: vertical_drop, dtype: float64
base_elev
Range: 10730.0
max    10800.0
min       70.0
Name: base_elev, dtype: float64
trams
Range: 4.0
max    4.0
min    0.0
Name: trams, dtype: float64
fastEight
Range: 1.0
max    1.0
min    0.0
Name: fastEight, dtype: float64
fastSixes
Range: 6.0
max    6.0
min    0.0
Name: fastSixes, dtype: float64
fastQuads
Range: 15.0
max    15.0
min     0.0
Name: fastQuads, dtype: float64
quad
Range: 8.0
max    8.0
min    0.0
Name: quad, dtype: float64
triple
Range: 8.0
max    8.0
min    0.0
Name: triple, dtype: float64
double
Range: 14.0
max    14.0
min     0.0
Name: double, dtype: float64
surface
Range: 15.0
max    15.0
min     0.0
Name: surface, dtype: float64
total_chairs
Range: 41.0
max    41.0
min     0.0
Name: total_chairs, dtype: float64
Runs
Range: 338.0
max    341.0
min      3.0
Name: Runs, dtype: float64
TerrainParks
Range: 13.0
max    14.0
min     1.0
Name: TerrainParks, dtype: float64
LongestRun_mi
Range: 6.0
max    6.0
min    0.0
Name: LongestRun_mi, dtype: float64
SkiableTerrain_ac
Range: 26811.0
max    26819.0
min        8.0
Name: SkiableTerrain_ac, dtype: float64
Snow Making_ac
Range: 3377.0
max    3379.0
min       2.0
Name: Snow Making_ac, dtype: float64
daysOpenLastYear
Range: 302.0
max    305.0
min      3.0
Name: daysOpenLastYear, dtype: float64
yearsOpen
Range: 2013.0
max    2019.0
min       6.0
Name: yearsOpen, dtype: float64
averageSnowfall
Range: 651.0
max    669.0
min     18.0
Name: averageSnowfall, dtype: float64
AdultWeekday
Range: 164.0
max    179.0
min     15.0
Name: AdultWeekday, dtype: float64
AdultWeekend
Range: 162.0
max    179.0
min     17.0
Name: AdultWeekend, dtype: float64
projectedDaysOpen
Range: 275.0
max    305.0
min     30.0
Name: projectedDaysOpen, dtype: float64
NightSkiing_ac
Range: 648.0
max    650.0
min      2.0
Name: NightSkiing_ac, dtype: float64

In [16]:
#See mean, std, values and quantiles for each column. 
for col in numeric_columns:
    print(col)
    print(data[col].describe())

summit_elev
count      330.000000
mean      4591.818182
std       3735.535934
min        315.000000
25%       1403.750000
50%       3127.500000
75%       7806.000000
max      13487.000000
Name: summit_elev, dtype: float64
vertical_drop
count     330.000000
mean     1215.427273
std       947.864557
min        60.000000
25%       461.250000
50%       964.500000
75%      1800.000000
max      4425.000000
Name: vertical_drop, dtype: float64
base_elev
count      330.000000
mean      3374.000000
std       3117.121621
min         70.000000
25%        869.000000
50%       1561.500000
75%       6325.250000
max      10800.000000
Name: base_elev, dtype: float64
trams
count    330.000000
mean       0.172727
std        0.559946
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        4.000000
Name: trams, dtype: float64
fastEight
count    164.000000
mean       0.006098
std        0.078087
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: fastEight, dtype: float64
fastSixes
count    330.000000
mean       0.184848
std        0.651685
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        6.000000
Name: fastSixes, dtype: float64
fastQuads
count    330.000000
mean       1.018182
std        2.198294
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max       15.000000
Name: fastQuads, dtype: float64
quad
count    330.000000
mean       0.933333
std        1.312245
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        8.000000
Name: quad, dtype: float64
triple
count    330.00000
mean       1.50000
std        1.61913
min        0.00000
25%        0.00000
50%        1.00000
75%        2.00000
max        8.00000
Name: triple, dtype: float64
double
count    330.000000
mean       1.833333
std        1.815028
min        0.000000
25%        1.000000
50%        1.000000
75%        3.000000
max       14.000000
Name: double, dtype: float64
surface
count    330.000000
mean       2.621212
std        2.059636
min        0.000000
25%        1.000000
50%        2.000000
75%        3.000000
max       15.000000
Name: surface, dtype: float64
total_chairs
count    330.000000
mean       8.266667
std        5.798683
min        0.000000
25%        5.000000
50%        7.000000
75%       10.000000
max       41.000000
Name: total_chairs, dtype: float64
Runs
count    326.000000
mean      48.214724
std       46.364077
min        3.000000
25%       19.000000
50%       33.000000
75%       60.000000
max      341.000000
Name: Runs, dtype: float64
TerrainParks
count    279.000000
mean       2.820789
std        2.008113
min        1.000000
25%        1.000000
50%        2.000000
75%        4.000000
max       14.000000
Name: TerrainParks, dtype: float64
LongestRun_mi
count    325.000000
mean       1.433231
std        1.156171
min        0.000000
25%        0.500000
50%        1.000000
75%        2.000000
max        6.000000
Name: LongestRun_mi, dtype: float64
SkiableTerrain_ac
count      327.000000
mean       739.801223
std       1816.167441
min          8.000000
25%         85.000000
50%        200.000000
75%        690.000000
max      26819.000000
Name: SkiableTerrain_ac, dtype: float64
Snow Making_ac
count     284.000000
mean      174.873239
std       261.336125
min         2.000000
25%        50.000000
50%       100.000000
75%       200.500000
max      3379.000000
Name: Snow Making_ac, dtype: float64
daysOpenLastYear
count    279.000000
mean     115.103943
std       35.063251
min        3.000000
25%       97.000000
50%      114.000000
75%      135.000000
max      305.000000
Name: daysOpenLastYear, dtype: float64
yearsOpen
count     329.000000
mean       63.656535
std       109.429928
min         6.000000
25%        50.000000
50%        58.000000
75%        69.000000
max      2019.000000
Name: yearsOpen, dtype: float64
averageSnowfall
count    316.000000
mean     185.316456
std      136.356842
min       18.000000
25%       69.000000
50%      150.000000
75%      300.000000
max      669.000000
Name: averageSnowfall, dtype: float64
AdultWeekday
count    276.000000
mean      57.916957
std       26.140126
min       15.000000
25%       40.000000
50%       50.000000
75%       71.000000
max      179.000000
Name: AdultWeekday, dtype: float64
AdultWeekend
count    279.000000
mean      64.166810
std       24.554584
min       17.000000
25%       47.000000
50%       60.000000
75%       77.500000
max      179.000000
Name: AdultWeekend, dtype: float64
projectedDaysOpen
count    283.000000
mean     120.053004
std       31.045963
min       30.000000
25%      100.000000
50%      120.000000
75%      139.500000
max      305.000000
Name: projectedDaysOpen, dtype: float64
NightSkiing_ac
count    187.000000
mean     100.395722
std      105.169620
min        2.000000
25%       40.000000
50%       72.000000
75%      114.000000
max      650.000000
Name: NightSkiing_ac, dtype: float64

Data Cleaning

In [17]:
#Identify null values in the columns
nas = pd.DataFrame(data.isnull().sum().sort_values(ascending=False)/len(data),columns = ['Percent'])
pos = nas['Percent'] > 0

In [18]:
nas

                    Percent
fastEight          0.503030
NightSkiing_ac     0.433333
AdultWeekday       0.163636
AdultWeekend       0.154545
daysOpenLastYear   0.154545
TerrainParks       0.154545
projectedDaysOpen  0.142424
Snow Making_ac     0.139394
averageSnowfall    0.042424
LongestRun_mi      0.015152
Runs               0.012121
SkiableTerrain_ac  0.009091
yearsOpen          0.003030
Region             0.000000
state              0.000000
summit_elev        0.000000
vertical_drop      0.000000
base_elev          0.000000
trams              0.000000
surface            0.000000
fastSixes          0.000000
fastQuads          0.000000
quad               0.000000
triple             0.000000
double             0.000000
total_chairs       0.000000
Name               0.000000

In [19]:
pos

fastEight             True
NightSkiing_ac        True
AdultWeekday          True
AdultWeekend          True
daysOpenLastYear      True
TerrainParks          True
projectedDaysOpen     True
Snow Making_ac        True
averageSnowfall       True
LongestRun_mi         True
Runs                  True
SkiableTerrain_ac     True
yearsOpen             True
Region               False
state                False
summit_elev          False
vertical_drop        False
base_elev            False
trams                False
surface              False
fastSixes            False
fastQuads            False
quad                 False
triple               False
double               False
total_chairs         False
Name                 False
Name: Percent, dtype: bool

In [20]:
#Calculate the total sum of total_chairs
#This wil give us an idea of how to fill the NaN values in fast
sum_total_chair = data['total_chairs'].sum()
sum_total_chair

2728.0

In [21]:
#Create a list with columns containing all the resort lift counts by type
columns_chair = ['trams','fastEight','fastSixes', 'fastQuads', 'quad', 'triple', 'double', 'surface']

In [22]:
#Create a for loop to calculate the sum of all the columns
initial = 0
for col in columns_chair:
    sum_col = data[col].sum()
    initial = initial + sum_col
    continue

initial

2728.0

In [23]:
substraction = sum_total_chair - initial
#If subtraction = 0, this means all the fastEight NaN values can be filled with zeros
if substraction == 0:
    print('The substraction is zero, so we proceed by filling the fastEight values with 0')
    
data['fastEight'].fillna(0, inplace = True)

The substraction is zero, so we proceed by filling the fastEight values with 0

In [24]:
#Night Skiiing values could also be filled with zero. 
#The place doesn't have the requirements to have this, so we can proceed filling the values with zero
data['NightSkiing_ac'].fillna(0, inplace = True)

In [25]:
#Fill NaN values with Zero --- fastEight, NightSkiing_ac, Terrain Parks
zero_list = ['fastEight', 'NightSkiing_ac', 'TerrainParks']

for col in zero_list:
    data[col].fillna(0, inplace = True)

In [26]:
#Fill NaN values Mean --- AdultWeekday, AdultWeekend, DaysOpenLastYear, projectedDaysOpen, Snow Making_ac, averageSnowfall, LongestRun_mi, Runs, SkiableTerrain_ac, yearsOpen
mean_list = ['AdultWeekday', 'AdultWeekend', 'daysOpenLastYear', 'projectedDaysOpen', 'Snow Making_ac', 
           'averageSnowfall', 'LongestRun_mi', 'Runs', 'SkiableTerrain_ac', 'yearsOpen']

for col in mean_list:
    data[col].fillna(data[col].mean(), inplace = True)

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 27 columns):
Name                 330 non-null object
Region               330 non-null object
state                330 non-null object
summit_elev          330 non-null float64
vertical_drop        330 non-null float64
base_elev            330 non-null float64
trams                330 non-null float64
fastEight            330 non-null float64
fastSixes            330 non-null float64
fastQuads            330 non-null float64
quad                 330 non-null float64
triple               330 non-null float64
double               330 non-null float64
surface              330 non-null float64
total_chairs         330 non-null float64
Runs                 330 non-null float64
TerrainParks         330 non-null float64
LongestRun_mi        330 non-null float64
SkiableTerrain_ac    330 non-null float64
Snow Making_ac       330 non-null float64
daysOpenLastYear     330 non-null float64
yearsOpen            330 non-null float64
averageSnowfall      330 non-null float64
AdultWeekday         330 non-null float64
AdultWeekend         330 non-null float64
projectedDaysOpen    330 non-null float64
NightSkiing_ac       330 non-null float64
dtypes: float64(24), object(3)
memory usage: 69.7+ KB

In [28]:
#Look for duplicate rows
duplicateRowsDF = data[data.duplicated()]
duplicateRowsDF

Empty DataFrame
Columns: [Name, Region, state, summit_elev, vertical_drop, base_elev, trams, fastEight, fastSixes, fastQuads, quad, triple, double, surface, total_chairs, Runs, TerrainParks, LongestRun_mi, SkiableTerrain_ac, Snow Making_ac, daysOpenLastYear, yearsOpen, averageSnowfall, AdultWeekday, AdultWeekend, projectedDaysOpen, NightSkiing_ac]
Index: []

Export data to a new csv file

In [31]:
data.to_csv('Notebook_steptwo.ipynb.csv')